<header class="corPrimaria shadow-sm sticky-top">
    <div class="container">
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
                <a class="navbar-brand" href="{% url 'home' %}">INÍCIO</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse justify-content-end p-0" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'contacts_' %}">
                                Agenda
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'calendar' %}">
                                Calendario
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'addresses_' %}">
                                Endereços
                            </a>
                        </li>
                    </ul>
                    <div class="d-flex" >
                        {% include "components/theme.html" %}
                    </div>
                </div>
            </div>
        </nav>
    </div>
</header>

