<section class="pesquisa">
    <h2>
        Secretaria Municipal da Saúde
    </h2>
    <p>
        Av. Pref. Vanderlei Antunes de Morães, 644 - Centro - CEP: 86630-000
    </p>
    <p>
        Atendimento: Segunda a Sexta-feira das 08:00 as 11:00 e das 13:00 as 17:00<br>
        E-mail: saude@centenariodosul.pr.gov.br<br>
        Fone: (43) 3675-8044<br>
        Google Maps: <a href="https://goo.gl/maps/VPcQBL5NH9eJBGQL6" target="_blank">Abrir</a>
    </p>
</section>

<hr class="pesquisa">

<section class="pesquisa">
    <h2>
        Hospital Municipal Dr. Lauro Marcedo Sobrinho
    </h2>
    <p>
        Rua Nossa Sra. do Rocio, 583 - Centro - CEP: 86630-000
    </p>
    <p>
        Atendimento: 24 horas<br>
        E-mail: hospital@centenariodosul.pr.gov.br<br>
        Fone: (43) 3675-1388<br>
        Google Maps: <a href="https://goo.gl/maps/7Kep51VDMjfkMx2m7" target="_blank">Abrir</a>
    </p>
</section>

<hr class="pesquisa">

<section class="pesquisa">
    <h2>
        UBS - Unidade Basica De Saúde Anita Canet
    </h2>
    <p>
        Avenida Wanderley Antunes Moraes, 850 - Centro - CEP: 86630-000
    </p>
    <p>
        Atendimento: Segunda a Sexta-feira das 08:00 as 11:00 e das 13:00 as 17:00<br>
        E-mail: ubs-anita-canet@centenariodosul.pr.gov.br<br>
        Fone: (43) 3675-1001<br>
        Google Maps: <a href="https://goo.gl/maps/z3bvvqJBG6v3ksGS8" target="_blank">Abrir</a>
    </p>
</section>

<hr class="pesquisa">

<section class="pesquisa">
    <h2>
        UBS - Unidade Basica De Saúde Ana Garcia Ramos
    </h2>
    <p>
        Rua Dom Geraldo Fernandes, s/n - Conjunto Maximino P. Santos - CEP: 86630-000
    </p>
    <p>
        Atendimento: Segunda a Sexta-feira das 08:00 as 11:00 e das 13:00 as 17:00<br>
        E-mail: ubs-ana-garcia-ramos@centenariodosul.pr.gov.br<br>
        Fone: (43) 3675-1518<br>
        Google Maps: <a href="https://goo.gl/maps/TUoejjjmPC3NPCow5" target="_blank">Abrir</a>
    </p>
</section>

<hr class="pesquisa">

<section class="pesquisa">
    <h2>
        UBS - Unidade Basica de Saúde Vila Progresso
    </h2>
    <p>
        Avenida Brasil, s/n - Vila Progresso - CEP: 86630-000
    </p>
    <p>
        Atendimento: Segunda a Sexta-feira das 08:00 as 11:00 e das 13:00 as 17:00<br>
        E-mail: ubs-vila-progresso@centenariodosul.pr.gov.br<br>
        Fone: <span class="text-danger">s/n</span><br>
        Google Maps: <span class="text-danger">s/n</span>
    </p>
</section>

<hr class="pesquisa">

<section class="pesquisa">
    <h2>
        Clínica da Criança e da Mulher
    </h2>
    <p>
        Avenida Wanderley Antunes Moraes, 1369 - Centro - CEP: 86630-000
    </p>
    <p>
        Atendimento: Segunda a Sexta-feira das 08:00 as 11:00 e das 13:00 as 17:00<br>
        E-mail: clinica-da-mulher@centenariodosul.pr.gov.br<br>
        Fone: (43) 3675-1855<br>
        Google Maps: <a href="https://goo.gl/maps/CNLqgaWcJ3vyb7t48" target="_blank">Abrir</a>
    </p>
</section>

