{% extends 'base.html' %}
{% load static %}

{% block content %}


<section class="container mb-4">
    <div class="d-flex justify-content-between">
        <div>
            <h1>Agenda Interna</h1>
        </div>
        <div class="d-flex align-items-center gap-1">
            <a class="btn btn-sm btn-primary" href="{% url 'contacts_export' %}" target="_blank">Gerar Impressão</a>
            <button  class="btn btn-sm btn-info" data-bs-toggle="modal" data-bs-target="#ModalAjuda">
                <i class="bi bi-question-lg"></i>
            </button >
        </div>
    </div>
    <hr>
</section>


<!-- Modal -->
<div class="modal fade" id="ModalAjuda" tabindex="-1" aria-labelledby="ModalAjudaLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="ModalAjudaLabel">Ajuda</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Transferência cega: #1<br>
                Transferência Assistida: *2<br>
                <hr>
                Meu Correio de Voz: *97<br>
                Código de Acesso Correio de Voz: *98<br>
                <hr>
                Ramal de Captura: *8
                <hr>
                Ativar Não Perturbe (DND): *77<br>
                Desativar Não Perturbe (DND): *78<br>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>


<form method="get" role="search" class="d-flex justify-content-center my-4">
    <div class="w-50 rounded-4">
        <div class="input-group shadow-sm rounded-4">
            <input 
                id="searchbar"
                type="search" 
                name="q" 
                value="{{ request.GET.q }}" 
                placeholder="Pesquisa por Nome/Setor/Local ou Número" 
                class="form-control text-center rounded-start-4"
                autocomplete="off"
            >
            <button 
                type="submit" 
                title="Pesquisar Registros" 
                class="btn ms-1 corPrimaria rounded-end-4"
            >
                <i class="bi bi-search"></i>
            </button>
        </div>
    </div>
</form>



    <div class="table-responsive">
        <table class="table table-sm table-hover mt-3">

            <thead>
                <tr>
                    <th scope="col">Nome:</th>
                    <th scope="col">Ramal Pessoal:</th>
                    <th scope="col">Setor:</th>
                    <th scope="col">Setor Num.:</th>
                    <th scope="col">Local:</th>
                    <th scope="col">Número Predio:</th>
                </tr>
            </thead>

            <tbody class="table-group-divider">
                {% for item in object_list %}
                <tr>
                    <td class="text-capitalize">
                        {{ item.person }}
                    </td>
                    <td>
                        {% if item.person_num %}
                            {{ item.person_num }}
                        {% else %}
                            <i class="bi bi-hash"></i>
                        {% endif %}
                    </td>
                    <td>
                        {% if item.sector %}
                            {{ item.sector }}
                        {% else %}
                            <i class="bi bi-hash"></i>
                        {% endif %}
                    </td>
                    <td>
                        {% if item.sector_num %}
                            {{ item.sector_num }}
                        {% else %}
                            <i class="bi bi-hash"></i>
                        {% endif %}
                    </td>

                    <td class="text-capitalize">
                        {{ item.address.name }}
                    </td>
                    <td>
                        {% if item.address.phone %}
                            {{ item.address.phone }}
                        {% else %}
                            <i class="bi bi-hash"></i>
                        {% endif %}
                    </td>
                </tr>
                {% empty %}
                    <tr>
                        <td colspan="6" class="text-center">
                            <i class="bi bi-exclamation-lg"></i>
                            Não existem Cadastros
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% include "components/pagination.html" %}

{% endblock content %}
