{% extends 'base.html' %}
{% load static %}

{% block content %}

<section class="container mb-4">
    <h1>Cursos</h1>
    <hr>
</section>

{% include "components/search.html" %}

<div class="container">
    {% for curso in cursos %}
        <h3 class="pesquisa">{{ curso.curso }}</h3>
        <p>{{ curso.descricao }}</p>
        <div class="d-flex gap-2">
            {% for video in curso.video_set.all %}
                <a href="{% url 'video_player' video.pk %}" class="pesquisa btn elemento pesquisa" style="background-color: {{ video.curso.cor_botao }}; color:{{ video.curso.cor_texto }}">
                    {{ video.title }}
                </a>
            {% empty %}
                Curso sem Vídeos
            {% endfor %}
        </div>
        <hr class="pesquisa mt-5 mb-5">
    {% endfor %}
</div>

{% endblock content %}
