{% extends 'base.html' %}
{% load static %}

{% block titulo %}Calendário{% endblock %}

{% block pagina %}

<div class="container">
  <h2>Calendário de Aniversarios e Feriados</h2>

  {{ get_events }}

  
  <div class="container py-5">
    <div id="calendar"></div>
  </div>
</div>

<script src="{% static 'calendar/index.global.min.js' %}"></script>
<script src="{% static 'calendar/core/locales-all.global.js' %}"></script>
<script src="{% static 'calendar/bootstrap5/index.global.min.js' %}"></script>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    const calendarEl = document.getElementById('calendar');

    const calendar = new FullCalendar.Calendar(calendarEl, {
      initialView: 'dayGridMonth',
      locale: '{{ LANGUAGE_CODE }}',

      themeSystem: 'bootstrap5',

      navLinks: true,
      selectable: true,
      // selectMirror: true,

      headerToolbar: {
        left: 'prev,next today',
        center: 'title',
      },
      events: "{% url 'calendar_api' %}"
    });

    calendar.render();
  });
</script>

<style>
  .fc-day-today {
    background: #00a447!important;
    color: #fff !important;
  }
</style>

{% endblock %}
