{% extends 'base.html' %}
{% load static %}


{% block pagina %}

<section class="container mb-4">
    <h1>Endereços Oficiais</h1>
    <hr>
</section>


{% block pesquisa %}
    {% include "pesquisa.html" %}
{% endblock pesquisa %}


<div class="container">
    <section class="pesquisa">
        <h2>
            Paço Municipal
        </h2>
        <p>
            Departamentos e Setores:
            <ul>
                <li>Gabinete</li>
                <li>Secretaria de Gabinete</li>
                <li>Controladoria</li>
                <li>Procuradoria Geral</li>
                <li>Secretaria de Administração</li>
                <li>Secretaria da Fazenda</li>
                <li>Secretaria do Desenvolvimento Econômico</li>
                <li>Agencia do Trabalhador</li>
            </ul>
    
            <p>
                Praça Aurélio Basso, 378 - Centro - CEP: 86630-000<br>
                Centenário do Sul - Paraná
            </p>
            <p>
                Atendimento: Segunda a Sexta-feira das 08:00 as 11:00 e das 13:00 as 17:00<br>
                E-mail: contato@centenariodosul.pr.gov.br<br>
                Fone: (43) 3675-8000<br>
                Google Maps: <a href="https://goo.gl/maps/wo6QNBRGHYg8s7DM7" target="_blank">Abrir</a>
            </p>
        </p>
    </section>

    <hr class="pesquisa">
    
    <section class="pesquisa">
        <h2>
            Secretaria de Agricultura e Meio Ambiente
        </h2>
        <p>
            Rua Bruno Poleto, 31 - Centro - CEP: 86630-000<br>
            Centenário do Sul - Paraná
        </p>
        <p>
            Atendimento: Segunda a Sexta-feira das 08:00 as 11:00 e das 13:00 as 17:00<br>
            Fone: (43) 3675-8000
        </p>
    </section>

    <hr class="pesquisa">

    <section class="pesquisa">
        <h2>
            Secretaria de Educação
        </h2>
        <p>
            Rua Prefeito Aparecido Ferreira Lima, 00 - Centro - CEP: 86630-000<br>
            Centenário do Sul - Paraná
        </p>
        <p>
            Atendimento: Segunda a Sexta-feira das 08:00 as 11:00 e das 13:00 as 17:00<br>
            Fone: (43) 3675-1134<br>
            Fone: (43) 3675-2785
        </p>
    </section>
    
    <hr class="pesquisa">

    <section class="pesquisa">
        <h2>
            Secretaria de Esporte Cultura e Lazer
        </h2>
        <p>
            Rua Dr. Derly de Oliveira N° 721 - Centro - CEP: 86630-000<br>
            Centenário do Sul - Paraná
        </p>
        <p>
            Atendimento: Segunda a Sexta-feira das 08:00 as 11:00 e das 13:00 as 17:00<br>
            Fone: (43) 3675-8000
        </p>
    </section>



    <hr class="pesquisa">

    <section class="pesquisa">
        <h2>
            Secretaria de Assistência Social
        </h2>
        <p>
            Rua Desembargador Munhoz de Melo, 385 - Centro - CEP: 86630-000<br>
            Centenário do Sul - Paraná
        </p>
        <p>
            Atendimento: Segunda a Sexta-feira das 08:00 as 11:00 e das 13:00 as 17:00<br>
            Fone: (43) 3675-1160
        </p>
    </section>

    <hr class="pesquisa">

    <section class="pesquisa">
        <h2>
            CREAS - Centro de Referência Especializado de Assistência Social
        </h2>
        <p>
            Rua Sulaiman Felicio , 651 - Centro - CEP: 86630-000<br>
            Centenário do Sul - Paraná
        </p>
        <p>
            Atendimento: Segunda a Sexta-feira das 08:00 as 11:00 e das 13:00 as 17:00<br>
            Fone: (43) 3675-1160
        </p>
    </section>

    <hr class="pesquisa">

    <section class="pesquisa">
        <h2>
            CRAS - Centro de Referência de Assistência Social
        </h2>
        <p>
            Rua Dezembargador Munhoz de Melo, 746 - Centro - CEP: 86630-000<br>
            Centenário do Sul - Paraná
        </p>
        <p>
            Atendimento: Segunda a Sexta-feira das 08:00 as 11:00 e das 13:00 as 17:00<br>
            Fone: (43) 3675-2264
        </p>
    </section>

    <hr class="pesquisa">

    <section class="pesquisa">
        <h2>
            Conselho Tutelar
        </h2>
        <p>
            Rua João Alves da Silva Neto, 77 - Conjunto Adalgiza B. Felício - CEP: 86630-000<br>
            Centenário do Sul - Paraná
        </p>
        <p>
            Atendimento: Segunda a Sexta-feira das 08:00 as 11:00 e das 13:00 as 17:00<br>
            Fone: (43) 3675-2889<br>
            Plantão 24 horas: (43) 98863-2776 (WhatsApp)
        </p>
    </section>

    
    <hr class="pesquisa">

    <section class="pesquisa">
        <h2>
            Secretaria de Infra Estrutura e Serviços Publicos
        </h2>
        <p>
            Rua Engenheiro Wilson Daminhao, s/n - Centro - CEP: 86630-000<br>
            Centenário do Sul - Paraná
        </p>
        <p>
            Atendimento: Segunda a Sexta-feira das 08:00 as 11:00 e das 13:00 as 17:00<br>
            Fone: (43) 3675-8030
        </p>
    </section>

    <hr class="pesquisa">
    
    {% include 'paginas/endereco_oficial/enderecos_of_saude.html' %}
    
    <hr class="pesquisa">

    <section class="pesquisa">
        <h2>
            Terminal Rodoviário de Centenário do Sul
        </h2>
        <p>
            Rua Nossa Sra. do Rocio, s/n - Centro - CEP: 86630-000<br>
            Centenário do Sul - Paraná
        </p>
        <p>
            Atendimento: Segunda a Sexta-feira das 06:00 as 22:00<br>
            Fone: (43) 3675-1491
        </p>
    </section>

    <hr class="pesquisa">

    <section class="pesquisa">
        <h2>
            Cozinha Comunitária de Centenário do Sul
        </h2>
        <p>
            <span class="text-danger">xxxxxxxx</span> - Centro - CEP: 86630-000<br>
            Centenário do Sul - Paraná
        </p>
        <p>
            Atendimento: Segunda a Segunda das 06:00 as 22:00<br>
            Fone: <span class="text-danger">xxxxxxxx</span>
        </p>
    </section>

    <hr class="pesquisa">

    <section class="pesquisa">
        <h2>
            Cozinha Central
        </h2>
        <p>
            <span class="text-danger">xxxxxxxx</span> - Centro - CEP: 86630-000<br>
            Centenário do Sul - Paraná
        </p>
        <p>
            Atendimento: Segunda a Sexta-feira das 08:00 as 11:00 e das 13:00 as 17:00<br>
            Fone: (43) 3675-8049
        </p>
    </section>

    <hr class="pesquisa">

    <section class="pesquisa">
        <h2>
            Biblioteca Cidadã Professora Maria Aparecida de Lima Dias
        </h2>
        <p>
            Rua Maziad Felício, 30 - Centro - CEP: 86630-000<br>
            Centenário do Sul - Paraná
        </p>
        <p>
            Atendimento: Segunda a Sexta-feira das 08:00 as 11:00 e das 13:00 as 17:00<br>
            Fone: (43) 3675-8000
        </p>
    </section>

    <hr class="pesquisa">

    <!-- Escolas -->
    <section class="pesquisa">
        <h2>
            Escola Municipal Irmã Osmunda – Ensino Fundamental I
        </h2>
        <p>
            Rua Francisco Brigido Dutra, 714 - Centro - CEP: 86630-000<br>
            Centenário do Sul - Paraná
        </p>
        <p>
            Atendimento: Segunda a Sexta-feira das 08:00 as 12:00 e das 13:00 as 17:00<br>
            E-mail: irosmunda714@hotmail.com<br>
            Fone: (43) 3675-1133
        </p>
    </section>

    <hr class="pesquisa">

    <section class="pesquisa">
        <h2>
            Escola Municipal José De Anchieta – Ensino Fundamental I
        </h2>
        <p>
            Rua Vereador Antonio Pereira da Silva, 820 - Centro - CEP: 86630-000<br>
            Centenário do Sul - Paraná
        </p>
        <p>
            Atendimento: Segunda a Sexta-feira das 08:00 as 12:00 e das 13:00 as 17:00<br>
            E-mail: Janchieta820@hotmail.com<br>
            Fone: (43) 3675-1938
        </p>
    </section>

    <hr class="pesquisa">

    <section class="pesquisa">
        <h2>
            Escola Municipal São José – Ensino Fundamental I
        </h2>
        <p>
            Rua João Severiano Ferreira, 105 - Conjunto Habitacional Adalgiza Aparecida Bueno Felício - CEP: 86630-000<br>
            Centenário do Sul - Paraná
        </p>
        <p>
            Atendimento: Segunda a Sexta-feira das 08:00 as 12:00 e das 13:00 as 17:00<br>
            E-mail: escolasjosé.municipal@gmail.com<br>
            Fone: (43) 3675-2636
        </p>
    </section>

    <hr class="pesquisa">

    <section class="pesquisa">
        <h2>
            Escola Municipal Prefeito Afonso Belenda – Ensino Fundamental I
        </h2>
        <p>
            Rodovia Fuad  Nacli, Km 01 - Vila Progresso - CEP: 86630-000<br>
            Centenário do Sul - Paraná
        </p>
        <p>
            Atendimento: Segunda a Sexta-feira das 08:00 as 12:00 e das 13:00 as 17:00<br>
            E-mail: escola.afonsobelenda@outlook.com<br>
            Fone: (43) 3675-9004
        </p>
    </section>

    <hr class="pesquisa">


    <section class="pesquisa">
        <h2>
            Centro Municipal de Educação Ulysses Pessoa de Lima
        </h2>
        <p>
            Rua Generino Fernandes Leão, 188 - Parque Industrial José Augusto Ferreira - CEP: 86630-000<br>
            Centenário do Sul - Paraná
        </p>
        <p>
            Atendimento: Segunda a Sexta-feira das 08:00 as 12:00 e das 13:00 as 17:00<br>
            E-mail: pingogente402@hotmail.com<br>
            Fone: (43) 3675-1134
        </p>
    </section>

    <hr class="pesquisa">


    <section class="pesquisa">
        <h2>
            CEI - Centro De Educação Infantil Menino Jesus I
        </h2>
        <p>
            Rua Vereador Maziad Felício, nº 615 - Centro - CEP: 86630-000<br>
            Centenário do Sul - Paraná
        </p>
        <p>
            Atendimento: Segunda a Sexta-feira das 08:00 as 12:00 e das 13:00 as 17:00<br>
            E-mail: apmifcentenario@hotmail.com<br>
            Fone: (43) 3675-1231
        </p>
    </section>

    <hr class="pesquisa">

    <section class="pesquisa">
        <h2>
            CEI - Centro De Educação Infantil Menino Jesus III
        </h2>
        <p>
            Rua João Alves da Silva Neto, 127 - Conjunto Habitacional Adalgiza  Aparecida Bueno Felício - CEP: 86630-000<br>
            Centenário do Sul - Paraná
        </p>
        <p>
            Atendimento: Segunda a Sexta-feira das 08:00 as 12:00 e das 13:00 as 17:00<br>
            E-mail: <span class="text-danger">s/n</span><br>
            Fone: (43) 3675-1134
        </p>
    </section>

    <hr class="pesquisa">

    <section class="pesquisa">
        <h2>
            CEI - Centro de Educação Infantil Menino Jesus V
        </h2>
        <p>
            Avenida Brasil, s/n - Vila Progresso - CEP: 86630-000<br>
            Centenário do Sul - Paraná
        </p>
        <p>
            Atendimento: Segunda a Sexta-feira das 08:00 as 12:00 e das 13:00 as 17:00<br>
            E-mail: crechevila2021@outlook.com<br>
            Fone: (43) 3675-1134
        </p>
    </section>

    <hr class="pesquisa">

    <section class="pesquisa">
        <h2>
            Ginásio de Esportes José Ferreira Lima
        </h2>
        <p>
            Rua Derly de Oliveira, s/n - Centro - CEP: 86630-000<br>
            Centenário do Sul - Paraná
        </p>
        <p>
            Atendimento: Segunda a Sexta-feira das 08:00 as 12:00 e das 13:00 as 17:00<br>
            Fone: (43) 3675-8000
        </p>
    </section>

    <hr class="pesquisa">

    <section class="pesquisa">
        <h2>
            Estadio Muncipal Sérgio Vito Meca
        </h2>
        <p>
            Av. Pref. Wanderley A. de Moraes, 243 - Centro - CEP: 86630-000<br>
            Centenário do Sul - Paraná
        </p>
        <p>
            Atendimento: Segunda a Sexta-feira das 08:00 as as 17:00<br>
            Fone: s/n
        </p>
    </section>

    <hr class="pesquisa">

    <section class="pesquisa">
        <h2>
            Teatro Muncipal
        </h2>
        <p>
            Rua Prefeito Aparecido Ferreira Lima, <span class="text-danger">s/n</span> - Centro - CEP: 86630-000<br>
            Centenário do Sul - Paraná
        </p>
        <p>
            Atendimento: Agendamento<br>
            Fone: (43) 3675-8000
        </p>
    </section>

</div>

{% endblock %}

{% block rodape %}
    {% include "footer.html" %}
{% endblock %}

{% block script %}
    <script src="{% static 'js/main.js' %}"></script>
{% endblock %}