{% extends 'base.html' %}
{% load static %}

{% block content %}

    {% include 'events/birthday.html' %}

    {% include "components/search.html" %}

    <section>
        <h3 class="pesquisa">
            LEGISLAÇÃO
        </h3>
        <a href="{% url 'legislation_list' 1 %}" class="pesquisa btn btn-warning m-1">
            Plano Diretor Municipal
            <span class="position-absolute invisible">PDM Plano Diretor Municipal LEGISLAÇÃO</span>
        </a>
        <a href="{% url 'legislation_list' 2 %}" class="pesquisa btn btn-warning m-1">
            Licitação 
            <span class="position-absolute invisible">Licitação Lei 2021</span>
        </a>
        {% include "generic/button.html" %}
    </section>

    {% include "generic/index.html" %}

    <hr class="pesquisa mt-5 mb-5">

    {% include "identity/img/index.html" %}

    <hr class="pesquisa mt-5 mb-5">

    {% include "identity/audio/index.html" %}

{% endblock content %}

