@media (max-width: 820px) {
  #navbarSupportedContent {
    margin-top: 8px;
  }
}


@keyframes Gradient {
  0% {
      background-position: 0% 50%;
  }

  50% {
      background-position: 100% 50%;
  }

  100% {
      background-position: 0% 50%;
  }
}


.botao-hover a:hover {
    background-color: #fbff006e;        /* muda o fundo */
    color: #000000;                   /* muda a cor do texto */
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);  /* sombra mais forte */
    transform: translateY(-3px);   /* elevação suave */
    border-color: #333;            /* borda sutil */
}

.aniversario {
  background-image: url("../gif/confete.gif");
  background-repeat: repeat;
  border: 2px solid #000;
  color: #2c2c2c;
  font-weight: bold;
  font-size: 1.1em;
}



.video_player {
  max-width: 100%;
  width: 100%;
}

.corPrimaria {
  background: rgb(0,122,55);
  background: linear-gradient(-45deg, #007A37, #00B94F);
  background-size: 400% 400%;
  animation: Gradient 10s ease infinite;
  color: #fff;
}


.corPrimaria a {
  background: #00000000;
  color: #fff;
}

.corPrimariaTabela {
  background-color: rgb(0,122,55);
  color: #fff;
}
