{% extends 'base.html' %}

{% load static %}

{% block pagina %}

{% include "aniversario.html" %}

<h2 class="mt-3 mb-5">UTILIDADES</h2>

{% block pesquisa %}
    {% include "pesquisa.html" %}
{% endblock pesquisa %}

<div class="toast-container position-fixed top-10 end-0 p-3">
    <div id="Toast-SpeedTest" class="toast text-bg-primary" role="alert" aria-live="assertive" aria-atomic="true"
        data-bs-autohide="false">
        <div class="toast-header">
            <strong class="me-auto">
                <i class="bi bi-speedometer"></i>
                SpeedTest
            </strong>
            <small id="Toast-SpeedTest-hora">11 mins ago</small>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
            <div id="network-speeds"></div>
        </div>
    </div>
</div>

<div class="">



    <a href="{% url 'InteligenciaA' %}"
    class="pesquisa btn btn-success m-1">
    Inteligencia Artificial
    </a>

    <a href="{% url 'cursos' %}"
    class="pesquisa btn btn-success m-1">
    Cursos
    </a>

    <a href="{% url 'marge_pdf' %}"
    class="pesquisa btn btn-success m-1">
    Unir PDF
    </a>

    <a href="{% url 'split_pdf' %}"
    class="pesquisa btn btn-success m-1">
    Separar PDF
    </a>

    <a href="{% url 'comprimir_pdf' %}"
    class="pesquisa btn btn-success m-1">
    Comprimir PDF
    </a>

    <a href="{% url 'Agenda' %}" 
    class="pesquisa btn btn-warning m-1">
    Agenda Interna
    <span class="position-absolute invisible">telefone ramal agenda celular numero</span>
    </a>


    <a href="{% url 'Agenda_Externa' %}" 
    class="pesquisa btn btn-warning m-1">
    Agenda Externa
    <span class="position-absolute invisible">telefone ramal agenda celular numero externa Externo</span>
    </a>

</div>


<hr class="pesquisa mt-5 mb-5">

<div class="">
    <h3 class="pesquisa">
        <i class="bi bi-calendar3-range"></i>
        SISTEMAS
    </h3>

    <a href="http://conta.equiplano.com.br:7474/conta/#/login?id=fe5fa9aa-90dd-d42f-ba3b-5769505bdc78&continue=http:%2F%2Fcentenariodosulprscp.equiplano.com.br:5508%2FtramitacaoProcesso%2F#/index?id=5d08f076-ad4f-47fe-89e0-3de3318dfa2d"
    class="pesquisa btn btn-danger m-1" target="_blank">
        eProcessos
    </a>

    <a href="http://192.168.1.1:8092/" target="_blank" class="pesquisa btn btn-primary m-1">
        Requisições/Diárias
        <span class="position-absolute invisible">Requisições Requisicoes Diárias Diarias</span>
    </a>

    <a class="pesquisa btn btn-primary" type="button" href="{% url 'SpeedTest' %}">
        SpeedTest
        <span class="spinner-border spinner-border-sm d-none" role="status" id="spinner-id" aria-hidden="true"></span>
    </a>

    <a href="https://centenariodosulpr.equiplano.com.br:7508/srh/srhLogin/load" target="_blank" class="pesquisa btn btn-primary m-1">
        RH
        <span class="position-absolute invisible">RH</span>
    </a>

    <a href="https://centenariodosul.simplissweb.com.br/prefeitura/202110/Account/Login" target="_blank" class="pesquisa btn btn-primary m-1">
        NFe ISS
        <span class="position-absolute invisible">NFe ISS</span>
    </a>

</div>

<hr class="pesquisa mt-5 mb-5">

<div class="">
    <h3 class="pesquisa">
        <i class="bi bi-geo-alt"></i>
        DADOS MUNICIPAIS
    </h3>

    <a type="pesquisa btn btn-info m-1" href="https://centenariodosulpr.equiplano.com.br:7508/transparencia/" target="_blank" class="pesquisa btn btn-info m-1">
        Transparência Municipal
    </a>

    <a href="https://www.centenariodosul.pr.leg.br/" target="_blank" class="pesquisa btn btn-info m-1">
        Câmara Municipal
    </a>

    <a href="https://www.diariomunicipal.com.br/amp/pesquisar" target="_blank" class="pesquisa btn btn-info m-1">
        Diário Oficial
        <span class="position-absolute invisible">AMP</span>
    </a>

    <a href="http://www.ipardes.pr.gov.br/Pagina/Cadernos-municipais" target="_blank" class="pesquisa btn btn-info m-1">
        IPARDES
    </a>

    <a href="https://apmifcentenariodosul.com.br/" target="_blank" class="pesquisa btn btn-info m-1">
        APMIF
    </a>

    <a href="https://www.centenariodosul.pr.gov.br/index.php?meio=16562" target="_blank"
        class="pesquisa btn btn-info m-1">
        Licitações
    </a>

    <a href="{% url 'enderecos_of' %}" class="pesquisa btn btn-info m-1">
        Endereços Oficiais
    </a>


    
</div>



<hr class="pesquisa mt-5 mb-5">

<div class="">
    <h3 class="pesquisa">
        <i class="bi bi-diagram-2-fill"></i>
        LEGISLAÇÃO
    </h3>

    <a href="https://leismunicipais.com.br/legislacao-municipal/3222/leis-de-centenario-do-sul" class="pesquisa btn btn-warning m-1" target="_blank">
        Leis Municipais
    </a>

    <a href="{% static 'paginas/PDF/Resolucao-01_2022.pdf' %}" class="pesquisa btn btn-warning m-1" target="_blank">
        ATRICON
    </a>

    <a href="{% url 'pdm_municipal' %}" class="pesquisa btn btn-warning m-1">
        Plano Diretor Municipal
        <span class="position-absolute invisible">PDM Plano Diretor Municipal LEGISLAÇÃO</span>
    </a>

    <a type="button" data-bs-toggle="modal" data-bs-target="#modal_organograma" class="pesquisa btn btn-warning m-1">
        Organograma
        <span class="position-absolute invisible">Organograma LEGISLAÇÃO</span>
    </a>

    <a href="https://pncp.gov.br/app/pca?pagina=1" class="pesquisa btn btn-warning m-1" target="_blank">
        Plano de Contratação Anual - PCA
    </a>

    

    <!-- Modal Organograma -->
    <div class="modal fade" id="modal_organograma" tabindex="-1" aria-labelledby="Organograma" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Organograma</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Estrutura organizacional de cargos em comissão
                </div>
                <div class="modal-footer">

                    <a href="{% static 'paginas/PDF/Organograma_lei.pdf' %}" class="pesquisa btn btn-warning m-1" target="_blank">
                        Organograma Lei
                        <span class="position-absolute invisible">Organograma LEGISLAÇÃO lei 3090</span>
                    </a>

                    <a href="{% static 'paginas/PDF/Organograma_anexo.pdf' %}" class="pesquisa btn btn-warning m-1" target="_blank">
                        Organograma Anexo
                        <span class="position-absolute invisible">Organograma LEGISLAÇÃO lei 3090</span>
                    </a>

                </div>
            </div>
        </div>
    </div>

    <a href="#" data-bs-toggle="modal" data-bs-target="#modal_adiantamento" class="pesquisa btn btn-warning m-1">
        Manual de Adiantamento
    </a>

    <!-- Modal Adiantamento -->
    <div class="modal fade" id="modal_adiantamento" tabindex="-1" aria-labelledby="Organograma" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Adiantamento</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Fundamentação:</p>
                    <p>
                        <a class="btn-link p-1 rounded" href="https://www.planalto.gov.br/ccivil_03/leis/lcp/lcp101.htm" target="_blank">Lei de Responsabilidade Fiscal<span class="position-absolute invisible">Manual de Adiantamento</span></a><br>
                        <a class="btn-link p-1 rounded" href="https://www.planalto.gov.br/ccivil_03/leis/l4320.htm" target="_blank">Lei Federal 4320/1964<span class="position-absolute invisible">Manual de Adiantamento</span></a><br>
                        <a class="btn-link p-1 rounded" href="https://leismunicipais.com.br/a1/pr/c/centenario-do-sul/lei-ordinaria/1993/119/1189/lei-ordinaria-n-1189-1993-dispoe-sobre-o-regulamento-do-regime-de-adiantamento?q=1189" target="_blank">Lei Municipal 1189/1993<span class="position-absolute invisible">Manual de Adiantamento</span></a><br>
                        <a class="btn-link p-1 rounded" href="{% static 'paginas/documentos/adiantamentos/Decreto_Municipal_285_2023.pdf' %}" target="_blank">Decreto Municipal 0285/2023.pdf<span class="position-absolute invisible">Manual de Adiantamento</span></a><br>
                        
                    </p>
                    <p>Manual:</p>
                    <a href="{% static 'paginas/documentos/adiantamentos/manual_de_adiantamento.pdf' %}" class="pesquisa btn btn-warning m-1" target="_blank">
                        Manual de Adiantamento
                        <span class="position-absolute invisible">Manual de Adiantamento</span>
                    </a>
                </div>

            </div>
        </div>
    </div>
</div>


<a href="{% url 'licitacao_ajuda' %}" class="pesquisa btn btn-warning m-1" target="_blank">
    Licitação Lei 2021 
    <span class="position-absolute invisible">Licitação Lei 2021</span>
</a>

<hr class="pesquisa mt-5 mb-5">

<div class="">
    <h3 class="pesquisa">
        <i class="bi bi-graph-up"></i>
        COTAÇÃO DE PREÇOS
    </h3>

    <a href="https://www.portaldecompraspublicas.com.br/" target="_blank" class="pesquisa btn btn-secondary m-1">
        Portal Compras Públicas
    </a>

    <a href="https://paineldeprecos.planejamento.gov.br/" target="_blank" class="pesquisa btn btn-secondary m-1">
        Painel de preços
    </a>

    <a href="https://antigo.comprasgovernamentais.gov.br/" target="_blank" class="pesquisa btn btn-secondary m-1">
        Portal de Compras (antigo compras governamentais)
    </a>

    <a href="https://compras.menorpreco.pr.gov.br/" target="_blank" class="pesquisa btn btn-secondary m-1">
        Menor preço PR
    </a>

</div>

<hr class="pesquisa mt-5 mb-5">

<div class="">
    <h3 class="pesquisa">
        <i class="bi bi-bank"></i>
        INSTITUCIONAL E GOVERNO
    </h3>

    <a href="https://dedicado2.valesolucoesemgestao.com.br/webmail/" target="_blank" class="pesquisa btn btn-success m-1">
        E-mail Corporativo
        <span class="position-absolute invisible">e-mail email e mail webmail web mail</span>
    </a>

    <a href="https://centenariodosulpr.equiplano.com.br:7508/esportal/srhlogincontrachequebs.carregar.logic" target="_blank"
        class="pesquisa btn btn-success m-1">
        Holerite
    </a>

    <a href="https://www.gov.br/pt-br" target="_blank" class="pesquisa btn btn-success m-1">
        Gov.br
    </a>

    <a href="https://centenariodosulpr.equiplano.com.br:7508/esadmin/sistemas.index.logic" target="_blank" class="pesquisa btn btn-success m-1">
        EsAdmin Equiplano
    </a>

    <a href="https://www.sbk.net.br/sanepar" target="_blank" class="pesquisa btn btn-success m-1">
        Taxa de Coleta de Lixo
    </a>

    <a href="https://autenticacao.voxtecnologia.com.br/" target="_blank" class="pesquisa btn btn-success m-1">
        Empresa Fácil
    </a>

    <a href="https://centenariodosul.simplissweb.com.br/prefeitura/202110/Account/Login" target="_blank"
        class="pesquisa btn btn-success m-1">
        Simpliss Admin
    </a>

    <a href="https://edi7.itau.com.br/index_login.htm" target="_blank" class="pesquisa btn btn-success m-1">
        ITAU EDI7
    </a>

    <a href="https://www.caixa.gov.br/empresa/conectividade-social/Paginas/default.aspx" target="_blank"
        class="pesquisa btn btn-success m-1">
        Conectividade Social
    </a>

    <a href="https://cav.receita.fazenda.gov.br/autenticacao/login/index" target="_blank"
        class="pesquisa btn btn-success m-1">
        eCac
    </a>

    <a href="http://www8.receita.fazenda.gov.br/SimplesNacional/aplicacoes.aspx?id=21" target="_blank"
        class="pesquisa btn btn-success m-1">
        Simples Nacional Optantes
    </a>
</div>

<hr class="pesquisa mt-5 mb-5">

<div class="">
    <h3 class="pesquisa">
        <i class="bi bi-file-earmark-text"></i>
        CONSULTAS E CERTIDÕES NEGATIVAS
    </h3>

    <a href="http://servicos.receita.fazenda.gov.br/Servicos/certidao/CNDConjuntaInter/InformaNICertidao.asp?tipo=1"
        target="_blank" class="pesquisa btn btn-secondary m-1">
        Certidão Conjunta de Tributos Federais
    </a>

    <a href="http://www.cdw.fazenda.pr.gov.br/cdw/emissao/certidaoAutomatica" target="_blank"
        class="pesquisa btn btn-secondary m-1">
        Certidão Negativa de Débitos de Tributos Estaduais
    </a>

    <a href="https://sti.tesouro.gov.br/cauc/index.jsf" target="_blank" class="pesquisa btn btn-secondary m-1">
        CAUC
    </a>

    <a href="http://www.fazenda.pr.gov.br/servicos/consultar-emitir-certidao-transferencia-voluntaria" target="_blank"
        class="pesquisa btn btn-secondary m-1">
        Certidão Negativa de transferências voluntarias do Paraná
    </a>

    <a href="https://consulta-crf.caixa.gov.br/consultacrf/pages/consultaEmpregador.jsf" target="_blank"
        class="pesquisa btn btn-secondary m-1">
        FGTS
    </a>

    <a href="http://www.tst.jus.br/certidao/" target="_blank" class="pesquisa btn btn-secondary m-1">
        Certidão Negativa de Débitos Trabalhistas
    </a>

    <a href="http://servicos.receita.fazenda.gov.br/Servicos/cnpjreva/cnpjreva_solicitacao.asp" target="_blank"
        class="pesquisa btn btn-secondary m-1">
        CNPJ
    </a>

    <a href="https://servicos.receita.fazenda.gov.br/servicos/cpf/consultasituacao/consultapublica.asp" target="_blank"
        class="pesquisa btn btn-secondary m-1">
        CPF
    </a>

    <a href="https://menorpreco.notaparana.pr.gov.br/index" target="_blank" class="pesquisa btn btn-secondary m-1">
        Menor Preço PR
    </a>

    <a href="https://cadin.pr.gov.br/cadin/publico/pendencia/consultar" target="_blank"
        class="pesquisa btn btn-secondary m-1">
        CADIN
    </a>
</div>

<hr class="pesquisa mt-5 mb-5">

<div class="">
    <h3 class="pesquisa">
        <i class="bi bi-cash-coin"></i>
        TRANSFERÊNCIAS DE RECURSOS
    </h3>

    <a href="http://sisweb.tesouro.gov.br/apex/f?p=2600:1::::::" target="_blank" class="pesquisa btn btn-warning m-1">
        Transferências Federais
    </a>

    <a href="http://www.transparencia.pr.gov.br/pte/assunto/4/100?origem=2" target="_blank"
        class="pesquisa btn btn-warning m-1">
        Transferências Estaduais
    </a>

    <a href="https://consultafns.saude.gov.br/#/repasse-dia" target="_blank" class="pesquisa btn btn-warning m-1">
        Transferências dos Programas de Saúde
    </a>

    <a href="https://www.fnde.gov.br/pls/simad/internet_fnde.liberacoes_01_pc" target="_blank"
        class="pesquisa btn btn-warning m-1">
        Transferências dos Programas do FNDE
    </a>
</div>

<hr class="pesquisa mt-5 mb-5">

<div class="">
    <h3 class="pesquisa">
        <i class="bi bi-filetype-doc"></i>
        MODELOS
    </h3>

    <a href="{% static 'paginas/documentos/Timbre.docx' %}" download class="pesquisa btn btn-primary m-1">
        Timbrado Preto
        <span class="position-absolute invisible">modelo timbrado preto e branco doc docx</span>
    </a>

    <a href="{% static 'paginas/documentos/Timbre-Colorido.docx' %}" download class="pesquisa btn btn-primary m-1">
        Timbrado Colorido
        <span class="position-absolute invisible">modelo timbrado colorido doc docx</span>
    </a>

    <a href="{% static 'paginas/documentos/Solicitacao-de-Compras.docx' %}" download
        class="pesquisa btn btn-primary m-1">
        Solicitação de Compras
        <span class="position-absolute invisible">modelo solicitação de compras doc docx</span>
    </a>

    <a href="{% static 'paginas/documentos/Requerimento-de-Aditivo.docx' %}" download
    class="pesquisa btn btn-primary m-1">
    Requerimento de Aditivo
    <span class="position-absolute invisible">modelo requerimento de aditivo doc docx</span>
    </a>

    <a href="{% static 'paginas/documentos/Ordem-de-Servico.docx' %}" download
    class="pesquisa btn btn-primary m-1">
    Ordem de Serviço
    <span class="position-absolute invisible">ordem de servico serviço doc docx</span>
    </a>

    <a href="{% static 'paginas/documentos/Termo-de-Referencia.docx' %}" download
    class="pesquisa btn btn-primary m-1">
    Termo de Referência
    <span class="position-absolute invisible">termo de referencia doc docx</span>
    </a>

    <a href="{% static 'paginas/documentos/ETP.docx' %}" download
    class="pesquisa btn btn-primary m-1">
    Estudo Técnico
    <span class="position-absolute invisible">estudo técnico preliminar doc docx</span>
    </a>
</div>

<hr class="pesquisa mt-5 mb-5">

<div class="">
    <h3 class="pesquisa">
        <i class="bi bi-file-music"></i>
        ÁUDIO
    </h3>

    <a href="{% url 'hino_nacional' %}" class="pesquisa btn btn-info m-1">
        Hino Nacional
        <span class="position-absolute invisible">audio musica</span>
    </a>
    <a href="{% url 'hino_estadual' %}" class="pesquisa btn btn-info m-1">
        Hino Estadual
        <span class="position-absolute invisible">audio musica</span>
    </a>
    <a href="{% url 'hino_municipal' %}" class="pesquisa btn btn-info m-1">
        Hino Municipal
        <span class="position-absolute invisible">audio musica</span>
    </a>
</div>

<hr class="pesquisa mt-5 mb-5">

<div class="">
    <h3 class="pesquisa">
        <i class="bi bi-file-earmark-image"></i>
        IMAGENS
    </h3>
    <a href="{% static 'paginas/imagens/Brasao-Colorido.png' %}" target="_blank" class="pesquisa btn m-1" download>
        <img class="border border-0 bg-none" height="100" width="100"
            src="{% static 'paginas/imagens/apresentacao/Brasao-Colorido.png' %}" alt="Brasão Colorido" title="Brasão Colorido">
        <span class="position-absolute invisible">brasão imagem</span>
    </a>
    <a href="{% static 'paginas/imagens/brasao_bw.png' %}" target="_blank" class="pesquisa btn m-1" download>
        <img class="border border-0" height="100" width="100"
            src="{% static 'paginas/imagens/apresentacao/brasao_bw.png' %}" alt="Brasão Preto e Branco" title="Brasão Preto e Branco">
        <span class="position-absolute invisible">brasão imagem</span>
    </a>
    <a href="{% static 'paginas/imagens/Brasao-Sem-Fundo.png' %}" target="_blank" class="pesquisa btn m-1" download>
        <img class="border border-0" height="100" width="100"
            src="{% static 'paginas/imagens/apresentacao/Brasao-Sem-Fundo.png' %}" alt="Brasão Sem Fundo" title="Brasão Sem Fundo">
        <span class="position-absolute invisible">brasão imagem</span>
    </a>

    <a href="{% static 'paginas/imagens/logo-gov-0.png' %}" target="_blank" class="pesquisa btn m-1" download>
        <img class="border border-0" height="100" width="100"
            src="{% static 'paginas/imagens/apresentacao/logo-gov-0.png' %}" alt="Logo Governo" title="Governo Logo letra branca">
        <span class="position-absolute invisible">Governo imagem cs</span>
    </a>
    <a href="{% static 'paginas/imagens/logo-gov-1.png' %}" target="_blank" class="pesquisa btn m-1" download>
        <img class="border border-0" height="100" width="100"
            src="{% static 'paginas/imagens/apresentacao/logo-gov-1.png' %}" alt="Logo Governo" title="Governo Logo letra preta">
        <span class="position-absolute invisible">Governo imagem cs</span>
    </a>

    <a href="{% static 'paginas/imagens/logo-bw.png' %}" target="_blank" class="pesquisa btn m-1" download>
        <img class="border border-0" height="100" width="100"
            src="{% static 'paginas/imagens/apresentacao/logo-gov-2.png' %}" alt="Logo Governo" title="Governo Logo tons de cinza">
        <span class="position-absolute invisible">Governo imagem cs</span>
    </a>

    <a href="{% static 'paginas/imagens/Bandeira_Municipal.png' %}" target="_blank" 
        class="pesquisa btn m-1" download>
        <img class="border border-0" height="100" width="100"
            src="{% static 'paginas/imagens/apresentacao/Bandeira_Municipal.png' %}" alt="Bandeira" title="Bandeira Municipal">
        <span class="position-absolute invisible">bandeira municipal imagem</span>
    </a>
</div>

<hr class="pesquisa mt-5 mb-5">

<div class="">
    <h3 class="pesquisa">
        <i class="bi bi-gear"></i>
        SUPORTE
    </h3>

    <a href="https://anydesk.com/pt/downloads/windows" target="_blank" class="pesquisa btn btn-warning m-1">
        Anydesk
    </a>

    <a href="https://www.teamviewer.com/pt-br/" target="_blank" class="pesquisa btn btn-warning m-1">
        TeamViewer
    </a>

    <a href="https://ninite.com/" target="_blank" class="pesquisa btn btn-warning m-1">
        Ninite
    </a>

    <a href="{% static 'paginas\suporte\go-global.rar' %}" download
    class="pesquisa btn btn-warning m-1">
    Go Global
    <span class="position-absolute invisible">Go Global</span>
    </a>

    <a href="{% static 'paginas\suporte\Office Enterprise 2007.zip' %}" download
    class="pesquisa btn btn-warning m-1">
    Office Enterprise 2007
    <span class="position-absolute invisible">Office Enterprise 2007</span>
    </a>

    <a href="https://www.naps2.com/" target="_blank" class="pesquisa btn btn-warning m-1">
        Naps2
    </a>

    <a href="{% static 'paginas\suporte\adobe_acrobat_reader_pt_br.msi' %}" download
    class="pesquisa btn btn-warning m-1">
    Adobe Reader PDF
    <span class="position-absolute invisible">Adobe Reader PDF</span>
    </a>

    <a href="{% static 'paginas\suporte\Kaspersky.rar' %}" download
    class="pesquisa btn btn-warning m-1">
    Kaspersky Small Office Security 
    <span class="position-absolute invisible">Kaspersky Small Office Security</span>
    </a>

    
</div>


{% endblock pagina %}

