{% extends 'base.html' %}

{% load static %}

{% block pagina %}

<h2 class="mt-3 mb-5">ATALHOS DE TECLADO</h2>

<p>
Ctrl + E - Selecionar tudo<br>
Ctrl + N - Negrito<br>
Ctrl + C - Copiar<br>
Ctrl + D - Preencher<br>
Ctrl + B - Buscar<br>
Ctrl + G - Salvar<br>
Ctrl + L - Substituir<br>
Ctrl + K - Itálico<br>
Ctrl + U - Novo livro de trabalho<br>
Ctrl + A - Abrir<br>
Ctrl + P - Imprimir<br>
Ctrl + R - Nada bom<br>
Ctrl + S - Sublinhado<br>
Ctrl + V - Colar<br>
Ctrl + W - Fechar<br>
Ctrl + X - Cortar<br>
Ctrl + Y - Refazer<br>
Ctrl + Z - Desfazer<br>
F1 - Ajuda<br>
F2 - Edição<br>
F3 - Colar nome<br>
F4 - Repetir a última ação<br>
F4 - Ao inserir uma fórmula, alterna entre referências absolutas/relativas<br>
F5 - Ir para<br>
F6 - Próxima planilha<br>
F7 - Verificador ortográfico<br>
F8 - Modo de ampliação<br>
F9 - Recalcular todas as planilhas<br>
F10 - Ativar barra de menu<br>
F11 - Nova tabela<br>
F12 - Salvar como<br>
Ctrl +: - Inserir hora atual<br>
Ctrl +; - Inserir data atual<br>
Ctrl +"- Copiar valor da célula acima<br>
Ctrl +'- Copiar fórmula da célula acima<br>
Shift - Compensação para funções adicionais no menu do Excel<br>
Shift + F1 - O que é?<br>
Shift + F2 - Editar comentário da célula<br>
Shift + F3 - Colar função na fórmula<br>
Shift + F4 - Buscar próximo<br>
Shift + F5 - Buscar<br>
Shift + F6 - Planilha anterior<br>
Shift + F8 - Adicionar à seleção<br>
Shift + F9 - Calcular planilha ativa<br>
Shift + F10 - Visualização do menu de contexto<br>
Shift + F11 - Nova planilha<br>
Shift + F12 - Salvar<br>
Ctrl + F3 - Definir nome<br>
Ctrl + F4 - Fechar<br>
Ctrl + F5 - Restaurar tamanho da janela no XL<br>
Ctrl + F6 - Próxima janela de trabalho<br>
Shift + Ctrl + F6 - Janela de trabalho anterior<br>
Ctrl + F7 - Mover janela<br>
Ctrl + F8 - Alterar tamanho da janela<br>
Ctrl + F9 - Minimizar a planilha<br>
Ctrl + F10 - Maximizar ou restaurar janela<br>
Ctrl + F11 - Inserir planilha de macros 4.0<br>
Ctrl + F1 - Abrir arquivo<br>
Alt + F1 - Inserir gráfico<br>
Alt + F2 - Salvar como<br>
Alt + F4 - Sair<br>
Alt + F8 - Caixa de diálogo de macro<br>
Alt + F11 - Editor do Visual Basic<br>
Alt + 64 - @<br>
Ctrl + Esc - Voltar rapidamente para a tela inicial. E aqui não aconteceu nada.<br>
Ctrl + Shift + F3 - Criar nome usando rótulos de linha e coluna<br>
Ctrl + Shift + F6 - Janela anterior<br>
Ctrl + Shift + F12 - Impressão<br>
Alt + Shift + F1 - Nova planilha<br>
Alt + Shift + F2 - Salvar<br>
Alt + = - AutoSoma<br>
Ctrl + `- Alterar valor/visualização da fórmula<br>
Ctrl + Shift + A - Inserir nomes de argumentos na fórmula<br>
Alt + seta para baixo - Lista de visualização automática<br>
Alt + '- Caixa de diálogo de estilo<br>
Ctrl + Shift + ~ - Formato geral<br>
Ctrl + Shift +! - Formato de vírgula<br>
Ctrl + Shift + @ - Formato de hora<br>
Ctrl + Shift + # - Formato de data<br>
Ctrl + Shift + $ - Formato de moeda<br>
Ctrl + Shift +% - Formato de porcentagem<br>
Ctrl + Shift + ^ - Formato exponencial<br>
Ctrl + Shift + & - Colocar borda ao redor das células selecionadas<br>
Ctrl + Shift + _ - Remover borda ao redor do contorno<br>
Ctrl + Shift + * - Selecionar a região atual<br>
Ctrl ++ - Inserir<br>
Ctrl + - - Excluir<br>
Ctrl + 1 - Caixa de diálogo de formatação de células<br>
Ctrl + 2 - Negrito<br>
Ctrl + 3 - Itálico<br>
Ctrl + 4 - Sublinhado<br>
Ctrl + 5 - Tachado<br>
Ctrl + 6 - Mostrar/Ocultar objetos<br>
Ctrl + 7 - Mostrar/Ocultar barra de ferramentas padrão<br>
</p>

{% endblock pagina %}