{% extends 'base.html' %}

{% load static %}

{% block pagina %}


{% block pesquisa %}
    {% include "pesquisa.html" %}
{% endblock pesquisa %}



<div class="">



    <a href="{% url 'InteligenciaA' %}"
    class="pesquisa btn btn-success m-1">
    Inteligencia Artificial
    </a>

    <a href="{% url 'cursos' %}"
    class="pesquisa btn btn-success m-1 alerta-btn">
    Cursos
    </a>

    <a href="{% url 'Agenda' %}" 
    class="pesquisa btn btn-warning m-1">
    Agenda Interna
    <span class="position-absolute invisible">telefone ramal agenda celular numero</span>
    </a>


    <a href="{% url 'Agenda' %}" 
    class="pesquisa btn btn-warning m-1">
    Endereços Oficiais
    <span class="position-absolute invisible">telefone ramal agenda celular numero</span>
    </a>


</div>

<hr class="pesquisa mt-5 mb-5">

<div class="">
    <h3 class="pesquisa">
        <i class="bi bi-filetype-pdf"></i>
        PDF
    </h3>
    <a href="{% url 'marge_pdf' %}"
    class="pesquisa btn btn-success m-1">
    Unir PDF
    </a>

    <a href="{% url 'split_pdf' %}"
    class="pesquisa btn btn-success m-1">
    Separar PDF
    </a>

    <a href="{% url 'comprimir_pdf' %}"
    class="pesquisa btn btn-success m-1">
    Comprimir PDF
    </a>

</div>


<hr class="pesquisa mt-5 mb-5">

<div class="">
    <h3 class="pesquisa">
        <i class="bi bi-diagram-2-fill"></i>
        LEGISLAÇÃO
    </h3>

    <a href="https://leismunicipais.com.br/legislacao-municipal/3222/leis-de-centenario-do-sul" class="pesquisa btn btn-warning m-1" target="_blank">
        Leis Municipais
    </a>

    <a href="{% url 'pdm_municipal' %}" class="pesquisa btn btn-warning m-1">
        Plano Diretor Municipal
        <span class="position-absolute invisible">PDM Plano Diretor Municipal LEGISLAÇÃO</span>
    </a>

    <a type="button" data-bs-toggle="modal" data-bs-target="#modal_organograma" class="pesquisa btn btn-warning m-1">
        Organograma
        <span class="position-absolute invisible">Organograma LEGISLAÇÃO</span>
    </a>

    <a href="https://pncp.gov.br/app/pca?pagina=1" class="pesquisa btn btn-warning m-1" target="_blank">
        Plano de Contratação Anual - PCA
    </a>

    

    <!-- Modal Organograma -->
    <div class="modal fade" id="modal_organograma" tabindex="-1" aria-labelledby="Organograma" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Organograma</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Estrutura organizacional de cargos em comissão
                </div>
                <div class="modal-footer">

                    <a href="{% static 'paginas/PDF/Organograma_lei.pdf' %}" class="pesquisa btn btn-warning m-1" target="_blank">
                        Organograma Lei
                        <span class="position-absolute invisible">Organograma LEGISLAÇÃO lei 3090</span>
                    </a>

                    <a href="{% static 'paginas/PDF/Organograma_anexo.pdf' %}" class="pesquisa btn btn-warning m-1" target="_blank">
                        Organograma Anexo
                        <span class="position-absolute invisible">Organograma LEGISLAÇÃO lei 3090</span>
                    </a>

                </div>
            </div>
        </div>
    </div>

    <a href="#" data-bs-toggle="modal" data-bs-target="#modal_adiantamento" class="pesquisa btn btn-warning m-1">
        Manual de Adiantamento
    </a>

    <!-- Modal Adiantamento -->
    <div class="modal fade" id="modal_adiantamento" tabindex="-1" aria-labelledby="Organograma" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Adiantamento</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Fundamentação:</p>
                    <p>
                        <a class="btn-link p-1 rounded" href="https://www.planalto.gov.br/ccivil_03/leis/lcp/lcp101.htm" target="_blank">Lei de Responsabilidade Fiscal<span class="position-absolute invisible">Manual de Adiantamento</span></a><br>
                        <a class="btn-link p-1 rounded" href="https://www.planalto.gov.br/ccivil_03/leis/l4320.htm" target="_blank">Lei Federal 4320/1964<span class="position-absolute invisible">Manual de Adiantamento</span></a><br>
                        <a class="btn-link p-1 rounded" href="https://leismunicipais.com.br/a1/pr/c/centenario-do-sul/lei-ordinaria/1993/119/1189/lei-ordinaria-n-1189-1993-dispoe-sobre-o-regulamento-do-regime-de-adiantamento?q=1189" target="_blank">Lei Municipal 1189/1993<span class="position-absolute invisible">Manual de Adiantamento</span></a><br>
                        <a class="btn-link p-1 rounded" href="{% static 'paginas/documentos/adiantamentos/Decreto_Municipal_285_2023.pdf' %}" target="_blank">Decreto Municipal 0285/2023.pdf<span class="position-absolute invisible">Manual de Adiantamento</span></a><br>
                        
                    </p>
                    <p>Manual:</p>
                    <a href="{% static 'paginas/documentos/adiantamentos/manual_de_adiantamento.pdf' %}" class="pesquisa btn btn-warning m-1" target="_blank">
                        Manual de Adiantamento
                        <span class="position-absolute invisible">Manual de Adiantamento</span>
                    </a>
                </div>

            </div>
        </div>
    </div>
</div>


<a href="{% url 'licitacao_ajuda' %}" class="pesquisa btn btn-warning m-1" target="_blank">
    Licitação Lei 2021 
    <span class="position-absolute invisible">Licitação Lei 2021</span>
</a>


<hr class="pesquisa mt-5 mb-5">

<div class="">
    <h3 class="pesquisa">
        <i class="bi bi-filetype-doc"></i>
        MODELOS
    </h3>

    <a href="{% static 'paginas/documentos/Timbre.docx' %}" download class="pesquisa btn btn-primary m-1">
        Timbrado Preto
        <span class="position-absolute invisible">modelo timbrado preto e branco doc docx</span>
    </a>

    <a href="{% static 'paginas/documentos/Timbre-Colorido.docx' %}" download class="pesquisa btn btn-primary m-1">
        Timbrado Colorido
        <span class="position-absolute invisible">modelo timbrado colorido doc docx</span>
    </a>

    <a href="{% static 'paginas/documentos/Solicitacao-de-Compras.docx' %}" download
        class="pesquisa btn btn-primary m-1">
        Solicitação de Compras
        <span class="position-absolute invisible">modelo solicitação de compras doc docx</span>
    </a>

    <a href="{% static 'paginas/documentos/Requerimento-de-Aditivo.docx' %}" download
    class="pesquisa btn btn-primary m-1">
    Requerimento de Aditivo
    <span class="position-absolute invisible">modelo requerimento de aditivo doc docx</span>
    </a>

    <a href="{% static 'paginas/documentos/Ordem-de-Servico.docx' %}" download
    class="pesquisa btn btn-primary m-1">
    Ordem de Serviço
    <span class="position-absolute invisible">ordem de servico serviço doc docx</span>
    </a>

    <a href="{% static 'paginas/documentos/Termo-de-Referencia.docx' %}" download
    class="pesquisa btn btn-primary m-1">
    Termo de Referência
    <span class="position-absolute invisible">termo de referencia doc docx</span>
    </a>

    <a href="{% static 'paginas/documentos/ETP.docx' %}" download
    class="pesquisa btn btn-primary m-1">
    Estudo Técnico
    <span class="position-absolute invisible">estudo técnico preliminar doc docx</span>
    </a>
</div>

<hr class="pesquisa mt-5 mb-5">

<div class="">
    <h3 class="pesquisa">
        <i class="bi bi-file-music"></i>
        ÁUDIO
    </h3>

    <a href="{% url 'hino_nacional' %}" class="pesquisa btn btn-info m-1">
        Hino Nacional
        <span class="position-absolute invisible">audio musica</span>
    </a>
    <a href="{% url 'hino_estadual' %}" class="pesquisa btn btn-info m-1">
        Hino Estadual
        <span class="position-absolute invisible">audio musica</span>
    </a>
    <a href="{% url 'hino_municipal' %}" class="pesquisa btn btn-info m-1">
        Hino Municipal
        <span class="position-absolute invisible">audio musica</span>
    </a>
</div>

<hr class="pesquisa mt-5 mb-5">

<div class="">
    <h3 class="pesquisa">
        <i class="bi bi-file-earmark-image"></i>
        IMAGENS
    </h3>
    <a href="{% static 'paginas/imagens/Brasao-Colorido.png' %}" target="_blank" class="pesquisa btn m-1" download>
        <img class="border border-0 bg-none" height="100" width="100"
            src="{% static 'paginas/imagens/apresentacao/Brasao-Colorido.png' %}" alt="Brasão Colorido" title="Brasão Colorido">
        <span class="position-absolute invisible">brasão imagem</span>
    </a>

    <a href="{% static 'paginas/imagens/Brasao_3D.png' %}" target="_blank" class="pesquisa btn m-1" download>
        <img class="border border-0 bg-none" height="100" width="100"
            src="{% static 'paginas/imagens/apresentacao/Brasao_3D.png' %}" alt="Brasão 3D" title="Brasão 3D">
        <span class="position-absolute invisible">brasão 3D</span>
    </a>

    <a href="{% static 'paginas/imagens/brasao_bw.png' %}" target="_blank" class="pesquisa btn m-1" download>
        <img class="border border-0" height="100" width="100"
            src="{% static 'paginas/imagens/apresentacao/brasao_bw.png' %}" alt="Brasão Preto e Branco" title="Brasão Preto e Branco">
        <span class="position-absolute invisible">brasão imagem</span>
    </a>
    <a href="{% static 'paginas/imagens/Brasao-Sem-Fundo.png' %}" target="_blank" class="pesquisa btn m-1" download>
        <img class="border border-0" height="100" width="100"
            src="{% static 'paginas/imagens/apresentacao/Brasao-Sem-Fundo.png' %}" alt="Brasão Sem Fundo" title="Brasão Sem Fundo">
        <span class="position-absolute invisible">brasão imagem</span>
    </a>

    <a href="{% static 'paginas/imagens/logo-gov-0.png' %}" target="_blank" class="pesquisa btn m-1" download>
        <img class="border border-0" height="100" width="100"
            src="{% static 'paginas/imagens/apresentacao/logo-gov-0.png' %}" alt="Logo Governo" title="Governo Logo letra branca">
        <span class="position-absolute invisible">Governo imagem cs</span>
    </a>

    <a href="{% static 'paginas/imagens/logo-gov-1.png' %}" target="_blank" class="pesquisa btn m-1" download>
        <img class="border border-0" height="100" width="100"
            src="{% static 'paginas/imagens/apresentacao/logo-gov-1.png' %}" alt="Logo Governo" title="Governo Logo letra preta">
        <span class="position-absolute invisible">Governo imagem cs</span>
    </a>

    <a href="{% static 'paginas/imagens/logo-bw.png' %}" target="_blank" class="pesquisa btn m-1" download>
        <img class="border border-0" height="100" width="100"
            src="{% static 'paginas/imagens/apresentacao/logo-gov-2.png' %}" alt="Logo Governo" title="Governo Logo tons de cinza">
        <span class="position-absolute invisible">Governo imagem cs</span>
    </a>

    <a href="{% static 'paginas/imagens/Bandeira_Municipal.png' %}" target="_blank" 
        class="pesquisa btn m-1" download>
        <img class="border border-0" height="100" width="100"
            src="{% static 'paginas/imagens/apresentacao/Bandeira_Municipal.png' %}" alt="Bandeira" title="Bandeira Municipal">
        <span class="position-absolute invisible">bandeira municipal imagem</span>
    </a>
</div>


{% endblock pagina %}

