
{% extends 'base.html' %}

{% load static %}



{% block pagina %}

<style>
    .logos-card {
        max-height: 50px;
        max-width: 100%;
    }
</style>


    <div class="row">
        <div class="col-md-4 mb-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">
                        <img class="logos-card" src="{% static 'paginas/imagens/ia/chatgpt.png' %}" loading="lazy" alt="ChatGPT">
                    </h5>
                    <p class="card-text">ChatGPT é uma IA no formato chatbot online desenvolvido pela OpenAI, especializado em diálogo lançado em novembro de 2022.</p>
                    <a href="https://chat.openai.com/" target="_blank" class="btn btn-primary">
                        <i class="bi bi-cursor-fill"></i>Abrir
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">
                        <img class="logos-card" src="{% static 'paginas/imagens/ia/futuretools.svg' %}" loading="lazy" alt="FutureTools">
                    </h5>
                    <p class="card-text">
                        Future Tools é um assistente de indexação de pesquisas (similar ao google) sobre Inteligências artificiais e afins.</p>
                    <a href="https://www.futuretools.io/" target="_blank" class="btn btn-primary">
                        <i class="bi bi-cursor-fill"></i>Abrir
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">
                        <img class="logos-card" src="{% static 'paginas/imagens/ia/Caktus.svg' %}" loading="lazy" alt="Caktus">
                    </h5>
                    <p class="card-text">Caktus é um assistente de estudos sobre diversos temas.
                        Fique mais inteligente na escola com seu próprio assistente.</p>
                    <a href="https://www.caktus.ai/caktus_login" target="_blank" class="btn btn-primary">
                        <i class="bi bi-cursor-fill"></i>Abrir
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">
                        <img class="logos-card" src="{% static 'paginas/imagens/ia/consensus.svg' %}" loading="lazy" alt="Consensus">
                    </h5>
                    <p class="card-text">Consensus - Faça uma pergunta, obtenha conclusões de artigos de pesquisa com auxílio de IA para localizá-los.
                    </p>
                    <a href="#" target="_blank" class="btn btn-primary">
                        <i class="bi bi-cursor-fill"></i>Abrir
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">
                        <img class="logos-card" src="{% static 'paginas/imagens/ia/hume-share.png' %}" loading="lazy" alt="hume">
                    </h5>
                    <p class="card-text">Hume - IA para compreensão de sentimentos humanos, expressões vocais, faciais e formas de expressão de linguagem.</p>
                    <a href="https://hume.ai/" target="_blank" class="btn btn-primary">
                        <i class="bi bi-cursor-fill"></i>Abrir
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">
                        <img class="logos-card" src="{% static 'paginas/imagens/ia/versy.svg' %}" loading="lazy" alt="Versy">
                    </h5>
                    <p class="card-text">Versy crie experiências interativas de qualquer tipo, desde a configuração de produtos e eventos, até salas e muito mais.</p>
                    <a href="https://www.versy.ai/" target="_blank" class="btn btn-primary">
                        <i class="bi bi-cursor-fill"></i>Abrir
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">
                        <img class="logos-card" src="{% static 'paginas/imagens/ia/mixo.jpg' %}" loading="lazy" alt="mixo">
                    </h5>
                    <p class="card-text">Mixo - Tem uma ideia para uma startup, produto ou serviço? Nosso construtor alimentado por IA ajuda empreendedores a lançar e validar rapidamente suas ideias de negócios.</p>
                    <a href="https://www.mixo.io/" target="_blank" class="btn btn-primary">
                        <i class="bi bi-cursor-fill"></i>Abrir
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">
                        <img class="logos-card" src="{% static 'paginas/imagens/ia/reimagine_home_ai.png' %}" loading="lazy" alt="reimaginehome">
                    </h5>
                    <p class="card-text">Reimaginehome Redesenhe qualquer espaço para corresponder à sua visão ou deixe que nossa IA mostre designs inspiradores em segundos.                    </p>
                    <a href="https://www.reimaginehome.ai/" target="_blank" class="btn btn-primary">
                        <i class="bi bi-cursor-fill"></i>Abrir
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">
                        <img class="logos-card" src="{% static 'paginas/imagens/ia/synthesia-logo.svg' %}" loading="lazy" alt="synthesia">
                    </h5>
                    <p class="card-text">Synthesia - Crie vídeos profissionais em 15 minutos.
                        <ul class="m-0">
                            <li>Transforme texto em fala em mais de 120 idiomas</li>
                            <li>Escolha entre mais de 125 avatares de IA diversos</li>
                            <li>Nenhum equipamento ou habilidades de edição de vídeo necessários</li>
                        </ul>
                    </p>
                    <a href="https://www.synthesia.io/" target="_blank" class="btn btn-primary">
                        <i class="bi bi-cursor-fill"></i>Abrir
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">
                        <img class="logos-card" src="{% static 'paginas/imagens/ia/Coohom_Logo.jpg' %}" loading="lazy" alt="Coohom">
                    </h5>
                    <p class="card-text">Coohom - Se você é um entusiasta do DIY ou um designer profissional, nós sempre ajudamos a obter o design dos seus sonhos. Design de Interiores 3D. Para profissionais de design com auxilio da IA</p>
                    <a href="https://www.coohom.com/?hl=pt" target="_blank" class="btn btn-primary">
                        <i class="bi bi-cursor-fill"></i>Abrir
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">
                        <img class="logos-card" src="{% static 'paginas/imagens/ia/nvidia.png' %}" loading="lazy" alt="NVIDIA Canvas">
                    </h5>
                    <p class="card-text">NVIDIA Canvas - Use IA para transformar pinceladas simples em paginas/imagens de paisagem realistas. Crie planos de fundo rapidamente ou acelere sua exploração de conceitos para que você possa passar mais tempo visualizando ideias.                    </p>
                    <a href="https://www.nvidia.com/en-us/studio/canvas/" target="_blank" class="btn btn-primary">
                        <i class="bi bi-cursor-fill"></i>Abrir
                    </a>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">
                        <img class="logos-card" src="{% static 'paginas/imagens/ia/LeiaPix.png' %}" loading="lazy" alt="LeiaPix">
                    </h5>
                    <p class="card-text">LeiaPix Converter permite que você transforme qualquer uma de suas paginas/imagens favoritas em Animações de profundidade impressionantes.</p>
                    <a href="https://convert.leiapix.com/" target="_blank" class="btn btn-primary">
                        <i class="bi bi-cursor-fill"></i>Abrir
                    </a>
                </div>
            </div>
        </div>


        <div class="col-md-4 mb-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">
                        <img class="logos-card" src="{% static 'paginas/imagens/ia/blockadelabs.jpg' %}" loading="lazy" alt="blockadelabs">
                    </h5>
                    <p class="card-text">
                        Crie uma experiência com um clique<br>
                        Mundos infinitos de 360° estão aqui com Skybox AI
                    </p>
                    <a href="https://www.blockadelabs.com/" target="_blank" class="btn btn-primary">
                        <i class="bi bi-cursor-fill"></i>Abrir
                    </a>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">
                        <img class="logos-card" src="{% static 'paginas/imagens/ia/Rewind.svg' %}" loading="lazy" alt="Rewind">
                    </h5>
                    <p class="card-text">
                        Rewind - E se você tivesse memória perfeita?<br>
                        Encontre qualquer coisa que você viu, disse ou ouviu, o Rewind grava qualquer coisa e o torna pesquisável
                    </p>
                    <a href="https://www.rewind.ai/" target="_blank" class="btn btn-primary">
                        <i class="bi bi-cursor-fill"></i>Abrir
                    </a>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">
                        <img class="logos-card" src="{% static 'paginas/imagens/ia/elevenlabs.png' %}" loading="lazy" alt="">
                    </h5>
                    <p class="card-text">O software de fala de IA mais realista e versátil de todos os tempos. Eleven traz as vozes mais atraentes, ricas e realistas para criadores e editores que buscam as melhores ferramentas para contar histórias.</p>
                    <a href="https://beta.elevenlabs.io/" target="_blank" class="btn btn-primary">
                        <i class="bi bi-cursor-fill"></i>Abrir
                    </a>
                </div>
            </div>
        </div>

    </div>

        {% endblock pagina %}