{% load static %}
<div class="">
    <h3 class="pesquisa">
        <i class="bi bi-file-earmark-image"></i>
        IMAGENS
    </h3>
    <a href="{% static 'identity/dawload/Bandeira_Municipal.png' %}" target="_blank" 
        class="pesquisa btn m-1" download>
        <img class="border border-0" height="100" width="100"
            src="{% static 'identity/minified/Bandeira_Municipal.png' %}" alt="Bandeira" title="Bandeira Municipal">
        <span class="position-absolute invisible">bandeira municipal imagem</span>
    </a>
    <a href="{% static 'identity/dawload/Brasao-Colorido.png' %}" target="_blank" class="pesquisa btn m-1" download>
        <img class="border border-0 bg-none" height="100" width="100"
            src="{% static 'identity/minified/Brasao-Colorido.png' %}" alt="Brasão Colorido" title="Brasão Colorido">
        <span class="position-absolute invisible">brasão imagem</span>
    </a>
    <a href="{% static 'identity/dawload/Brasao_3D.png' %}" target="_blank" class="pesquisa btn m-1" download>
        <img class="border border-0 bg-none" height="100" width="100"
            src="{% static 'identity/minified/Brasao_3D.png' %}" alt="Brasão 3D" title="Brasão 3D">
        <span class="position-absolute invisible">brasão 3D</span>
    </a>
    <a href="{% static 'identity/dawload/brasao_bw.png' %}" target="_blank" class="pesquisa btn m-1" download>
        <img class="border border-0" height="100" width="100"
            src="{% static 'identity/minified/brasao_bw.png' %}" alt="Brasão Preto e Branco" title="Brasão Preto e Branco">
        <span class="position-absolute invisible">brasão imagem</span>
    </a>
    <a href="{% static 'identity/dawload/Brasao-Sem-Fundo.png' %}" target="_blank" class="pesquisa btn m-1" download>
        <img class="border border-0" height="100" width="100"
            src="{% static 'identity/minified/Brasao-Sem-Fundo.png' %}" alt="Brasão Sem Fundo" title="Brasão Sem Fundo">
        <span class="position-absolute invisible">brasão imagem</span>
    </a>
    <a href="{% static 'identity/dawload/logo-gov-0.png' %}" target="_blank" class="pesquisa btn m-1" download>
        <img class="border border-0" height="100" width="100"
            src="{% static 'identity/minified/logo-gov-0.png' %}" alt="Logo Governo" title="Governo Logo letra branca">
        <span class="position-absolute invisible">Governo imagem cs</span>
    </a>
    <a href="{% static 'identity/dawload/logo-gov-1.png' %}" target="_blank" class="pesquisa btn m-1" download>
        <img class="border border-0" height="100" width="100"
            src="{% static 'identity/minified/logo-gov-1.png' %}" alt="Logo Governo" title="Governo Logo letra preta">
        <span class="position-absolute invisible">Governo imagem cs</span>
    </a>
    <a href="{% static 'identity/dawload/logo-bw.png' %}" target="_blank" class="pesquisa btn m-1" download>
        <img class="border border-0" height="100" width="100"
            src="{% static 'identity/minified/logo-gov-2.png' %}" alt="Logo Governo" title="Governo Logo tons de cinza">
        <span class="position-absolute invisible">Governo imagem cs</span>
    </a>
</div>