{% extends 'base.html' %}

{% load static %}

{% block pagina %}

<h2 class="mt-3 mb-5">PLANO DIRETOR</h2>

<link rel="{% static 'speedtest\css\main.css' %} href="style.css">



<div class="container">

    <div id="wrapper">
        <div id="loader">
            <div class="lds-ripple">
                <div></div>
                <div></div>
            </div>
        </div>
        <div id="netword-speed-title">Resultado:</div>
        <div id="network-speeds">
            <div class="speed">
                <div class="speed-label">Mbps</div>
                <div id="mbps-speed">0</div>
            </div>
            <div class="speed">
                <div class="speed-label">Kbps</div>
                <div id="kbps-speed">0</div>
            </div>
            <div class="speed">
                <div class="speed-label">Bits</div>
                <div id="bits-speed">0</div>
            </div>
        </div>
        <div>
            <button id="detect-speed">Testar</button>
        </div>
    </div>

    <script src="main.js"></script>

    <script src="{% static 'speedtest\js\main.js' %}"></script>

    {% endblock pagina %}