<!doctype html>

{% load static %}

<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta name="description" content="Utilidades">
    <meta name="author" content="Denis Muniz Silva">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PMCS Úteis</title>
    <link rel="sortcut icon" href="{% static 'imagens/pmcs.ico' %}" type="image/x-icon" />
    <link rel="stylesheet" href="{% static 'css/Bootstrap-v5.2.3.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-icons@1.8.3' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>

<body class="text-bg-light">
    {% include 'menu.html' %}
    <div class="pt-3 ps-3 pe-3 container botao-hover">
        {% block pagina %}{% endblock pagina %}
    </div>
    <div class="pb-3 ps-3 pe-3 container">
        <div class="clearfix pb-4">
            <a href="#topo" class="float-end text-decoration-none text-reset ms-2">
                <button type="button" class="btn btn-outline-dark rounded-circle">
                    <span class="bi bi-caret-up-fill" aria-hidden="true"></span>
                </button>
            </a>
        </div>
    </div>

    {% include 'footer.html' %}
</body>
    <script src="{% static 'js/Bootstrap-v5.2.3.js' %}"></script>
    <script src="{% static 'js/pesquisa.js' %}"></script>
</html>
