<!doctype html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta name="description" content="Utilidades">
    <meta name="author" content="Denis Muniz Silva">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>PMCS Úteis</title>
    <link rel="sortcut icon" href="{% url 'img/pmcs.ico' %}" type="image/x-icon" />


    <link rel="stylesheet" href="{% url 'css/Bootstrap-v5.2.3.css' %}">
    <link rel="stylesheet" href="{% url 'css/bootstrap-icons@1.8.3' %}">
    <link rel="stylesheet" href="{% url 'css/main.css' %}">

</head>

<body class="text-bg-light">
    {% block header %}
        {% include header.html %}
    {% endblock header %}

    <div class="pt-3 ps-3 pe-3 container botao-hover">
        {% block pagina %}{% endblock pagina %}
    </div>

    <div class="pb-3 ps-3 pe-3 container">
        <div class="clearfix pb-4">
            <a href="#topo" class="float-end text-decoration-none text-reset ms-2">
                <button type="button" class="btn btn-outline-dark rounded-circle">
                    <span class="bi bi-caret-up-fill" aria-hidden="true"></span>
                </button>
            </a>
        </div>
    </div>

    {% block footer %}
        {% include footer.html %}
    {% endblock footer %}
</body>

<script src="{% url 'js/Bootstrap-v5.2.3.js' %}"></script>
<script src="{% url 'js/pesquisa.js' %}"></script>

</html>
