{% extends "base.html" %}
{% block conteudo %}

<div class="">
    <h2>CONTATOS</h2>

    {% for x in categoria %}

    <h2>{{ x }}</h2>

    <table class="realceLinha comBordas">

        <thead>
            <tr>
                <td style="width: 20em">SETOR:</td>
                <td class="texto_centro" style="width: 10em">CONTATO:</td>
                <td style="width: 20em">E-MAIL</td>
            <tr>
        </thead>
        {% for item in contatos[0:] %}

            {% if item[2] == x %}
                <tr>
                    <td>{{ item[1] }}</td>
                    <td class="texto_centro realce">{{ item[0] }}</td>
                    <td></td>
                </tr>
            {% endif %}

        {% endfor %}


    </table>
    <br>
    <br>
    {% endfor %}

</div>

 {% endblock %}