<footer class="bg-dark text-white sticky-botton">
    <div class="text-center p-2">
        <p class="fw-semibold container-fluid ">
            PREFEITURA DE CENTENÁRIO DO SUL<br>
            ADMINISTRAÇÃO MUNICIPAL<br>
            SETOR DE INFORMÁTICA
        </p>
        <a href="#" class="text-decoration-none text-reset">
            <cite title="Ir para portfólio">Desenvolvido por Denis Muniz Silva</cite>
        </a>
        <p class="p-0 m-0 g-0">2022 - Versão 2.6</p>
    </div>
</footer>