<footer class="corPrimaria text-white text-center py-4 mt-auto shadow-lg">
    <div class="container">
        <h6 class="fw-bold mb-1">PREFEITURA DE CENTENÁRIO DO SUL</h6>
        <p class="mb-2">Administração Municipal - Setor de Informática</p>
        <hr class="border-light opacity-25 my-2">
        <p class="mb-0 small">
        Desenvolvido por <span class="fw-semibold">Denis Muniz Silva</span><br>
        <span class="text-white-50">2025 - Versão 6.0</span>
        </p>
    </div>
</footer>