<html>

<head>
    <title>Utilidades</title>
    <meta name="author" content="Denis Muniz Silva">
    <meta http-equiv="content-language" content="pt-br" />
    <link rel="stylesheet" href="{{ url_for('static', filename='estilo.css')}}" />
    <link rel="sortcut icon" href="{{url_for('static', filename='/pmcs.ico')}}" type="image/x-icon" />
    <meta charset="UTF-8" />
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.9.0.min.js"></script>

    <script type="text/javascript" src="script.js"></script>
    <script>
        function aviso_conectividade() {
            alert("Este site funciona apenas nos navegadores:\n - Internet Explorer (Fim do suporte Microsoft em 15/06/2021)\n - Microsoft Edge (Executando retrocompatibilidade)\nBusque por Conectividade Social ICP V2");
        }
    </script>

</head>

<body>

    <h2>UTILIDADES</h2>
    <div class="pagina">
        <div class="container">
            <div class="linha">
                <p>SISTEMAS</p>
                <a href="http://serverwebapp.sysmar.com.br:8135/frota/servlet/hindex" target="_blank">
                    <div class="tile azul">
                        Sys Frotas
                    </div>
                </a>
                <a href="http://serverwebapp.sysmar.com.br:8090/saude/servlet/hindex" target="_blank">
                    <div class="tile verde">
                        Sys Saúde
                    </div>
                </a>

                <a href="https://www.sefanet.pr.gov.br/sefanetv2/segSefanet/segLogin.asp" target="_blank">
                    <div class="tile roxo">
                        SEFANET
                    </div>
                </a>
                <a href="https://gestor.showtecnologia.com/gestor/index.php/login" target="_blank">
                    <div class="tile azul">
                        Rastreio<br>
                        Veicular
                    </div>
                </a>
            </div>


            <p>DADOS MUNICIPAIS</p>

            <div class="linha">

                <a href="{{url_for('contatos')}}" target="_blank">
                    <div class="tile azul">
                        Contatos
                    </div>
                </a>


                <a href="http://192.168.1.2:7474/transparencia/" target="_blank">
                    <div class="tile tileLargo amarelo">
                        Transparência Municipal<br>
                        (Link Interno)
                    </div>
                </a>
                <a href="https://www.centenariodosul.pr.leg.br/" target="_blank">
                    <div class="tile azul">
                        Câmara Municipal
                    </div>
                </a>
                <a href="https://www.diariomunicipal.com.br/amp/pesquisar" target="_blank">
                    <div class="tile tileLargo verde">
                        Diário Oficial dos Municípios do Paraná
                    </div>
                </a>
                <a href="http://www.ipardes.pr.gov.br/Pagina/Cadernos-municipais" target="_blank">
                    <div class="tile  azul">
                        IPARDES
                    </div>
                </a>
                <a href="https://apmifcentenariodosul.com.br/" target="_blank">
                    <div class="tile  roxo">
                        APMIF
                    </div>
                </a>

                <a href="https://www.centenariodosul.pr.gov.br/index.php?meio=16562" target="_blank">
                    <div class="tile  amarelo">
                        Licitações
                    </div>
                </a>

                <a href="{{url_for('organograma')}}" target="_blank">
                    <div class="tile  verde">
                        Organograma
                    </div>
                </a>
            </div>
            <p>INSTITUCIONAL E GOVERNO</p>
            <div class="linha">
                <a href="https://email.centenariodosul.pr.gov.br:2096/" target="_blank">
                    <div class="tile roxo">
                        E-mail<br>
                        Corporativo
                    </div>
                </a>
                <a href="http://serverwebapp.sysmar.com.br:8163/holerite/servlet/hindex" target="_blank">
                    <div class="tile azul">
                        Holerite
                    </div>
                </a>
                <a href="https://www.portaldecompraspublicas.com.br/" target="_blank">
                    <div class="tile tileLargo verde">
                        Portal<br>
                        Compras Públicas
                    </div>
                </a>


                <a href="http://192.168.1.2:7476/SysPortal/Painel" target="_blank">
                    <div class="tile tileLargo amarelo">
                        Painel de Controle <br>
                        Portal da Transparência
                    </div>
                </a>

                <a href="https://www.gov.br/pt-br" target="_blank">
                    <div class="tile tile roxo">
                        Gov.br
                    </div>
                </a>
                <a href="http://192.168.1.2:7474/esadmin/sistemas.index.logic" target="_blank">
                    <div class="tile verde">
                        EsAdmin Equiplano
                    </div>
                </a>
                <a href="https://centenariodosul.pr.gov.br:2083/" target="_blank">
                    <div class="tile amarelo">
                        cPanel<br>Vale Soluções
                    </div>
                </a>
                <a href="https://www.sbk.net.br/sanepar" target="_blank">
                    <div class="tile tileLargo azul">
                        Taxa de Coleta de Lixo
                    </div>
                </a>
                <a href="https://autenticacao.voxtecnologia.com.br/" target="_blank">
                    <div class="tile amarelo">
                        Empresa Fácil
                    </div>
                </a>
                <a href="https://centenariodosul.simplissweb.com.br/prefeitura/202110/Account/Login" target="_blank">
                    <div class="tile azul">
                        Simpliss Admin
                    </div>
                </a>
                <a href="https://edi7.itau.com.br/index_login.htm" target="_blank">
                    <div class="tile amarelo">
                        ITAU EDI7
                    </div>
                </a>
                <a href="https://portaloisolucoes.oi.com.br/login" target="_blank">
                    <div class="tile verde">
                        Portal<br>
                        Oi Contas
                    </div>
                </a>

                <button onclick="aviso_conectividade()">
                    <a href="https://www.caixa.gov.br/empresa/conectividade-social/Paginas/default.aspx"
                        target="_blank">
                        <div class="tile tilelargo azul ladolado">
                            Conectividade Social
                        </div>
                    </a>
                </button>
                <a href="https://cav.receita.fazenda.gov.br/autenticacao/login/index" target="_blank">
                    <div class="tile roxo">
                        eCac
                    </div>
                </a>

                <a href="http://www8.receita.fazenda.gov.br/SimplesNacional/aplicacoes.aspx?id=21" target="_blank">
                    <div class="tile tileLargo verde">
                        Simples Nacional<br>
                        Optantes
                    </div>
                </a>
            </div>
            <p>CONSULTAS E CERTIDÕES NEGATIVAS</p>
            <div class="linha">
                <a href="http://servicos.receita.fazenda.gov.br/Servicos/certidao/CNDConjuntaInter/InformaNICertidao.asp?tipo=1"
                    target="_blank">
                    <div class="tile tileLargo amarelo">
                        Certidão Conjunta de Tributos Federais
                    </div>
                </a>
                <a href="http://www.cdw.fazenda.pr.gov.br/cdw/emissao/certidaoAutomatica" target="_blank">
                    <div class="tile tileLargo azul">
                        Certidão Negativa de Débitos de Tributos Estaduais
                    </div>
                </a>
                <a href="https://sti.tesouro.gov.br/cauc/index.jsf" target="_blank">
                    <div class="tile  verde">
                        CAUC
                    </div>
                </a>
                <a href="http://www.fazenda.pr.gov.br/servicos/consultar-emitir-certidao-transferencia-voluntaria"
                    target="_blank">
                    <div class="tile tileLargo amarelo">
                        Certidão Negativa de transferências voluntarias do Paraná
                    </div>
                </a>
                <a href="https://consulta-crf.caixa.gov.br/consultacrf/pages/consultaEmpregador.jsf" target="_blank">
                    <div class="tile roxo">
                        FGTS
                    </div>
                </a>
                <a href="http://www.tst.jus.br/certidao/" target="_blank">
                    <div class="tile tileLargo verde">
                        Certidão Negativa de Débitos Trabalhistas
                    </div>
                </a>
                <a href="http://servicos.receita.fazenda.gov.br/Servicos/cnpjreva/cnpjreva_solicitacao.asp"
                    target="_blank">
                    <div class="tile  azul">
                        CNPJ
                    </div>
                </a>
                <a href="https://servicos.receita.fazenda.gov.br/servicos/cpf/consultasituacao/consultapublica.asp"
                    target="_blank">
                    <div class="tile  roxo">
                        CPF
                    </div>
                </a>
                <a href="https://menorpreco.notaparana.pr.gov.br/index" target="_blank">
                    <div class="tile  verde">
                        Menor Preço PR
                    </div>
                </a>

                <a href="https://cadin.pr.gov.br/cadin/publico/pendencia/consultar" target="_blank">
                    <div class="tile  amarelo">
                        CADIN
                    </div>
                </a>
            </div>
            <p>TRANSFERÊNCIAS</p>
            <div class="linha">
                <a href="http://sisweb.tesouro.gov.br/apex/f?p=2600:1::::::" target="_blank">
                    <div class="tile tileLargo roxo">
                        Transferências Federais
                    </div>
                </a>
                <a href="http://www.transparencia.pr.gov.br/pte/assunto/4/100?origem=2" target="_blank">
                    <div class="tile tileLargo verde">
                        Transferências Estaduais
                    </div>
                </a>
                <a href="https://consultafns.saude.gov.br/#/repasse-dia" target="_blank">
                    <div class="tile tileLargo azul">
                        Transferências dos Programas de Saúde
                    </div>
                </a>
                <a href="https://www.fnde.gov.br/pls/simad/internet_fnde.liberacoes_01_pc" target="_blank">
                    <div class="tile tileLargo amarelo">
                        Transferências dos Programas do FNDE
                    </div>
                </a>
            </div>
            <p>MODELOS</p>
            <div class="linha">
                <a href="{{ url_for('static', filename='/documentos/Solicitacao-de-Compras.docx')}}">
                    <div class="tile roxo">
                        Solicitação de Compras
                    </div>
                </a>
                <a href="{{ url_for('static', filename='/documentos/Termo-de-Responsabilidade.docx')}}/">
                    <div class="tile tileLargo azul">
                        Termo de Responsabilidade
                    </div>
                </a>
                <a href="{{ url_for('static', filename='/documentos/Oficio.docx')}}/">
                    <div class="tile amarelo">
                        Ofício
                    </div>
                </a>
                <a href="{{ url_for('static', filename='/documentos/Timbre.docx')}}/">
                    <div class="tile verde">
                        Timbrado Word
                    </div>
                </a>

                <a href="{{ url_for('static', filename='/documentos/Requerimento.docx')}}/">
                    <div class="tile tile azul">
                        Requerimento
                    </div>
                </a>
            </div>
        </div>
    </div>
    <p>ÁUDIO</p>
    <div class="linha">
        <a href="{{url_for('hino')}}" target="_blank">
            <div class="tile tile verde">
                Hino Municipal
            </div>
        </a>


    </div>
    <p>IMAGENS</p>
    <div class="linha">
        <a href="{{ url_for('static', filename='/imagens/Brasao-Colorido.png')}}" target="_blank">
            <img class="logos" src="{{ url_for('static', filename='/imagens/Brasao-Colorido.png')}}"
                alt="Brasão Colorido">
        </a>
        <a href="{{ url_for('static', filename='/imagens/brasao_bw.png')}}" target="_blank">
            <img class="logos" src="{{ url_for('static', filename='/imagens/brasao_bw.png')}}"
                alt="Brasão Preto e Branco">
        </a>
        <a href="{{ url_for('static', filename='/imagens/Brasao-Sem-Fundo.png')}}" target="_blank">
            <img class="logos" src="{{ url_for('static', filename='/imagens/Brasao-Sem-Fundo.png')}}"
                alt="Brasão Sem Fundo">
        </a>
        <a href="{{ url_for('static', filename='/imagens/Logo-Governo.png')}}" target="_blank">
            <img class="logos" src="{{ url_for('static', filename='/imagens/Logo-Governo.png')}}" alt="Logo Governo">
        </a>

        <a href="{{ url_for('static', filename='/imagens/Logo-Governo-bw.png')}}" target="_blank">
            <img class="logos" src="{{ url_for('static', filename='/imagens/Logo-Governo-bw.png')}}" alt="Logo Governo">
        </a>

        <a href="{{ url_for('static', filename='/imagens/simbolo_centenariosul.png')}}" target="_blank">
            <img class="logos" src="{{ url_for('static', filename='/imagens/simbolo_centenariosul.png')}}"
                alt="Simbolo Governo">
        </a>

        <a href="{{ url_for('static', filename='/imagens/infos_cores.jpg')}}" target="_blank">
            <img class="logos" src="{{ url_for('static', filename='/imagens/infos_cores.jpg')}}" alt="Informacao Logo">
        </a>
        <a href="{{ url_for('static', filename='/imagens/Bandeira_Municipal.png')}}" target="_blank">
            <img class="logos" src="{{ url_for('static', filename='/imagens/Bandeira_Municipal.png')}}" alt="Bandeira">
        </a>
    </div>

    <p>SUPORTE</p>
    <div class="linha">
        <a href="{{url_for('suporte')}}" target="_blank">
            <div class="tile roxo">
                Suporte
            </div>
        </a>
    </div>

    <footer>
        <br>
        <hr>
        <p>Atualização 19/04/2022<br>
            Prefeitura Municipal de Centenário do Sul<br>
            Setor de Informática
        <p>
    </footer>
</body>
</html>
