<!doctype html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta name="description" content="PDM">
    <meta name="author" content="Denis Muniz Silva">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Lei 3090/2021</title>

    <link rel="sortcut icon" href="{{ url_for('static', filename='PDF/Lei-3090-2021.pdf')}}" type="image/x-icon" />

</head>

  <body style="margin: 0">
    <div style="width: 100%, height: auto">
        <embed src="{{ url_for('static', filename='PDF/PDM.pdf')}}" type="application/pdf" width="100%"
            height="100%" />
    </div>
  </body>
</html>