<html>
<head>
    <title>Estruturas</title>
    <meta name="author" content="Denis Muniz Silva">
    <meta http-equiv="content-language" content="pt-br" />
    <link rel="stylesheet" href="{{ url_for('static', filename='estilo.css')}}"/>
    <link rel="sortcut icon" href="{{url_for('static', filename='/pmcs.ico')}}" type="image/x-icon" />
    <meta charset="UTF-8"/>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.9.0.min.js"></script>
	  
</head>

<body>
    
<H2>ESTRUTURAS ORGANIZACIONAIS</H2>
    <p>ORGANOGRAMA</p>
       <div class= "texto_centro">
			<embed src="{{ url_for('static', filename='PDF/Org-Lei3090.pdf')}}" type="application/pdf" width="80%" height="100%" />
       </div>
        <br>

    <p>LEI</p>

        <br>
       <div class= "texto_centro">
			<embed src="{{ url_for('static', filename='PDF/Lei-3090-2021.pdf')}}" type="application/pdf" width="80%" height="100%" />
       </div>

    <footer>
        <br>
        <hr>
		<p>Atualização 23/06/2022<br>
        Prefeitura Municipal de Centenário do Sul<br>
        Setor de Informática<p>
    </footer>
</body>
</html>
