{% extends "base.html" %}
{% block conteudo %}
    
<H2>ESTRUTURAS ORGANIZACIONAIS</H2>
    <p>ORGANOGRAMA</p>
       <div class= "texto_centro">
			<embed src="{{ url_for('static', filename='PDF/Org-Lei3090.pdf')}}" type="application/pdf" width="100%" height="1000px" />
       </div>
        <br>

    <p>LEI</p>

        <br>
       <div class= "texto_centro">
			<embed src="{{ url_for('static', filename='PDF/Lei-3090-2021.pdf')}}" type="application/pdf" width="100%" height="1000px" />
       </div>

{% endblock %}