<style>
    .pagination .page-link {
        color: #007a37; /* cor do tema */
        border-radius: 8px;
        margin: 0 3px;
        transition: all 0.2s ease-in-out;
    }

    .pagination .page-item.active .page-link {
        background-color: #007a37;
        border-color: #007a37;
        color: #fff;
        font-weight: 600;
        box-shadow: 0 0 6px rgba(0, 122, 55, 0.5);
    }

</style>

{% if page_obj.paginator.count > 0 %}
    <div class="text-center fw-lighter text-secondary-emphasis mb-3">
        Mostrando {{ page_obj.start_index }} a {{ page_obj.end_index }} de {{ page_obj.paginator.count }} registros
    </div>
{% endif %}

{% if paginator.num_pages > 1 %}
<nav class="container d-flex justify-content-center">
    <ul class="pagination">
        {% if page_obj.has_previous %}
            <li class="page-item btn-paginacao">
                <a class="page-link" href="?page=1">
                    <i class="bi bi-chevron-double-left"></i>
                </a>
            </li>
            <li class="page-item btn-paginacao">
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}">
                    <i class="bi bi-chevron-left"></i>
                </a>
            </li>
        {% endif %}
        {% for i in page_obj.paginator.page_range %}
        {% if page_obj.number == i %}
            <li class="page-item btn-paginacao active">
                <a class="page-link" href="#">{{ i }} </a>
            </li>
        {% else %}
            <li class="page-item btn-paginacao">
                <a class="page-link" href="?page={{ i }}">{{ i }}</a>
            </li>
        {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
            <li class="page-item btn-paginacao">
                <a class="page-link" href="?page={{ page_obj.next_page_number }}">
                    <i class="bi bi-chevron-right"></i>
                </a>
            </li>
            <li class="page-item btn-paginacao">
                <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">
                    <i class="bi bi-chevron-double-right"></i>
                </a>
            </li>
        {% endif %}
    </ul>
</nav>
{% endif %}