<style>
    .btn-paginacao.active a.page-link {
        background-color: #212529;
        border-color: #212529;
        color: #fff;
    }
    .paginacao-info {
        font-size: 12px;
        color: #666;
        text-align: center;
    }
</style>

<div class="paginacao-info mb-3">
    Mostrando {{ page_obj.start_index }} a {{ page_obj.end_index }} de {{ page_obj.paginator.count }} registros
</div>
<nav class="container d-flex justify-content-center">
    <ul class="pagination">
        {% if page_obj.has_previous %}
            <li class="page-item btn-paginacao">
                <a class="page-link text-dark" href="?page=1"><i class="bi bi-chevron-double-left"></i></a>
            </li>
            <li class="page-item btn-paginacao">
                <a class="page-link text-dark" href="?page={{ page_obj.previous_page_number }}"><i
                        class="bi bi-chevron-left"></i></a>
            </li>
        {% endif %}
        {% for i in page_obj.paginator.page_range %}
        {% if page_obj.number == i %}
            <li class="page-item btn-paginacao active">
                <a class="page-link" href="#">{{ i }} </a>
            </li>
        {% else %}
            <li class="page-item btn-paginacao">
                <a class="page-link text-dark" href="?page={{ i }}">{{ i }}</a>
            </li>
        {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
            <li class="page-item btn-paginacao">
                <a class="page-link text-dark" href="?page={{ page_obj.next_page_number }}"><i
                        class="bi bi-chevron-right"></i></a>
            </li>
            <li class="page-item btn-paginacao">
                <a class="page-link text-dark" href="?page={{ page_obj.paginator.num_pages }}"><i
                        class="bi bi-chevron-double-right"></i></a>
            </li>
        {% endif %}
    </ul>
</nav>
