{% extends "base.html" %}
{% block conteudo %}


<h2 class="mt-3 mb-5">SUPORTE</h2>

            <div class="">
                <h3>MICROSOFT</h3>

                <a href="{{ url_for('static', filename='/suporte/Office/Office2007enterprise.rar')}}" class="pesquisa btn btn-primary m-1">
                    Office 2007 Enterprise
                </a>

                <a href="{{ url_for('static', filename='/suporte/Office/Office2013pro.rar')}}" class="pesquisa btn btn-primary m-1">
                    Office 2013 Pro
                </a>

                <a href="{{ url_for('static', filename='/suporte/Office/Office2016pro.rar')}}" class="pesquisa btn btn-primary m-1">
                        Office 2016 Pro + Crack
                </a>
            </div>

<hr class="mt-5 mb-5">

            <div class="">
                <h3>ISO</h3>
                <a href="{{ url_for('static', filename='/suporte/Iso/windows7all.iso')}}" class="pesquisa btn btn-secondary m-1">
                    Windows 7
                </a>

                <a href="https://go.microsoft.com/fwlink/?LinkId=691209" target="_blank" class="pesquisa btn btn-secondary m-1">
                    Windows 10
                </a>
            </div>


<hr class="mt-5 mb-5">


            <div class="">
                 <h3>ADOBE</h3>

                <a href="{{ url_for('static', filename='/suporte/Adobe/AfterEffects2020.rar')}}" class="pesquisa btn btn-info m-1">
                    After Effects 2020
                </a>

                <a href="{{ url_for('static', filename='/suporte/Adobe/PhotoShop2020.rar')}}" class="pesquisa btn btn-info m-1">
                    Photo Shop 2020
                </a>
            </div>

<hr class="mt-5 mb-5">

<div class="">
    <h3>DRIVE</h3>
                <a href="{{ url_for('static', filename='/suporte/TM-T20Utility150.exe')}}" class="pesquisa btn btn-warning m-1">
                    Drive TM T20 Utility150
                </a>

                <a href="{{ url_for('static', filename='/suporte/driver_booster.exe')}}" class="pesquisa btn btn-warning m-1">
                    Drive Booster
                </a>

                <a href="{{ url_for('static', filename='/suporte/3DP_Chip_v2108.exe')}}" class="pesquisa btn btn-warning m-1">
                    3dp Chip
                </a>


                <a href="{{ url_for('static', filename='/suporte/DriverBackup.exe')}}" class="pesquisa btn btn-warning m-1">
                    Drive Backup
                </a>

                <a href="{{ url_for('static', filename='/suporte/DriverBackup.exe')}}" class="pesquisa btn btn-warning m-1">
                    Drive Backup
                </a>

                <a href="{{ url_for('static', filename='/suporte/342.01-desktop-win10-64bit-international.exe')}}" class="pesquisa btn btn-warning m-1">
                    Nvidia GeForce 210
                </a>
</div>


<hr class="mt-5 mb-5">


            <div class="">
                <h3>OUTROS</h3>

                <a href="{{ url_for('static', filename='/suporte/ExcecoesJava.rar')}}" class="pesquisa btn btn-success m-1">
                    Exceções Java .bat
                </a>

                <a href="{{ url_for('static', filename='/suporte/ReiniciarSpooler.rar')}}" class="pesquisa btn btn-success m-1">
                    Spooler de Impressão .bat
                </a>

                <a href="{{ url_for('static', filename='/suporte/startup.exe')}}" class="pesquisa btn btn-success m-1">
                    Kaspersky Small Office Security
                </a>

                <a href="{{ url_for('static', filename='/suporte/TeamViewer_Setup13.zip')}}" class="pesquisa btn btn-success m-1">
                    TeamViewer 13
                </a>

                <a href="{{ url_for('static', filename='/suporte/setup-lightshot.exe')}}" class="pesquisa btn btn-success m-1">
                    Lightshot
                </a>

                <a href="{{ url_for('static', filename='/suporte/ninite_0000.exe')}}" class="pesquisa btn btn-success m-1">
                        Firefox, Chrome, VLC, Notepad, WinRAR
                </a>

                 <a href="{{ url_for('static', filename='/suporte/DXtodos.7z')}}" class="pesquisa btn btn-success m-1">
                     Direct X Todos
                </a>

                <a href="{{ url_for('static', filename='/suporte/4kvideodownloader_4.16.4_x64.zip')}}" class="pesquisa btn btn-success m-1">
                    4k Video Dawnloader
                </a>

                <a href="{{ url_for('static', filename='/suporte/Bginfo.exe')}}" class="pesquisa btn btn-success m-1">
                    BG info
                </a>
            </div>

{% endblock %}
