<html>

<head>
    <title>Utilidades</title>
    <meta name="author" content="Denis Muniz Silva">
    <meta http-equiv="content-language" content="pt-br" />
    <link rel="stylesheet" href="{{ url_for('static', filename='estilo.css')}}" />
    <link rel="sortcut icon" href="{{url_for('static', filename='/pmcs.ico')}}" type="image/x-icon" />
    <meta charset="UTF-8" />
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.9.0.min.js"></script>

    <script type="text/javascript" src="script.js"></script>
    <script>
        function aviso_conectividade() {
            alert("Este site funciona apenas nos navegadores:\n - Internet Explorer (Fim do suporte Microsoft em 15/06/2021)\n - Microsoft Edge (Executando retrocompatibilidade)\nBusque por Conectividade Social ICP V2");
        }
    </script>

</head>

<body>
<h2>SUPORTE</h2>
        <p>MICROSOFT</p>
            <div class="linha">
                <a href="{{ url_for('static', filename='/suporte/Office/Office2007enterprise.rar')}}">
                    <div class="tile azul">
                        Office 2007<br>
                        Enterprise
                    </div>
                </a>

                <a href="{{ url_for('static', filename='/suporte/Office/Office2013pro.rar')}}">
                    <div class="tile roxo">
                        Office 2013<br>
                        Pro
                    </div>
                </a>

                <a href="{{ url_for('static', filename='/suporte/Office/Office2016pro.rar')}}">
                    <div class="tile verde">
                        Office 2016<br>
                        Pro + Crack
                    </div>
                </a>
            </div>

        <p>ISO</p>
            <div class="linha">
                <a href="{{ url_for('static', filename='/suporte/Iso/windows7all.iso')}}">
                    <div class="tile verde">
                        Windows 7
                    </div>
                </a>

                <a href="https://go.microsoft.com/fwlink/?LinkId=691209" target="_blank">
                    <div class="tile azul">
                        Windows 10
                    </div>
                </a>



            </div>


        <p>ADOBE</p>
            <div class="linha">
                <a href="{{ url_for('static', filename='/suporte/Adobe/AfterEffects2020.rar')}}">
                    <div class="tile amarelo">
                        After Effects<br>
                        2020
                    </div>
                </a>

                <a href="{{ url_for('static', filename='/suporte/Adobe/PhotoShop2020.rar')}}">
                    <div class="tile roxo">
                        Photo Shop<br>
                        2020
                    </div>
                </a>
            </div>


        <p>DRIVE</p>
<div class="linha">
                <a href="{{ url_for('static', filename='/suporte/TM-T20Utility150.exe')}}">
                    <div class="tile roxo">
                        Drive TM T20<br>
                        Utility150
                    </div>
                </a>

                <a href="{{ url_for('static', filename='/suporte/driver_booster.exe')}}">
                    <div class="tile amarelo">
                        Drive Booster
                    </div>
                </a>

                <a href="{{ url_for('static', filename='/suporte/3DP_Chip_v2108.exe')}}">
                    <div class="tile azul">
                        3dp Chip<br>
                        Portable
                    </div>
                </a>


                <a href="{{ url_for('static', filename='/suporte/DriverBackup.exe')}}">
                    <div class="tile verde">
                        Drive Backup
                    </div>
                </a>

                <a href="{{ url_for('static', filename='/suporte/DriverBackup.exe')}}">
                    <div class="tile azul">
                        Drive Backup
                    </div>
                </a>

                <a href="{{ url_for('static', filename='/suporte/342.01-desktop-win10-64bit-international.exe')}}">
                    <div class="tile verde">
                        Drive Nvidia<br>
                        GeForce 210
                    </div>
                </a>
</div>

        <p>OUTROS</p>
            <div class="linha">
                <a href="{{ url_for('static', filename='/suporte/ExcecoesJava.rar')}}">
                    <div class="tile azul">
                        Exceções Java<br>
                        .bat
                    </div>
                </a>

                <a href="{{ url_for('static', filename='/suporte/ReiniciarSpooler.rar')}}">
                    <div class="tile verde">
                        Spooler de<br>
                        Impressão .bat
                    </div>
                </a>



                <a href="{{ url_for('static', filename='/suporte/startup.exe')}}">
                    <div class="tile tileLargo verde">
                        Kaspersky<br>
                        Small Office Security
                    </div>
                </a>

                <a href="{{ url_for('static', filename='/suporte/TeamViewer_Setup13.zip')}}">
                    <div class="tile azul">
                        TeamViewer 13
                    </div>
                </a>

                <a href="{{ url_for('static', filename='/suporte/setup-lightshot.exe')}}">
                    <div class="tile roxo">
                        Lightshot
                    </div>
                </a>

                <a href="{{ url_for('static', filename='/suporte/ninite_0000.exe')}}">
                    <div class="tile tileLargo verde">
                        Firefox, Chrome, VLC<br>
                        Notepad, WinRAR
                    </div>
                </a>

                 <a href="{{ url_for('static', filename='/suporte/DXtodos.7z')}}">
                    <div class="tile roxo">
                        Direct X<br>
                        Todos
                    </div>
                </a>

                <a href="{{ url_for('static', filename='/suporte/4kvideodownloader_4.16.4_x64.zip')}}">
                    <div class="tile verde">
                        4k Video<br>
                        Dawnloader
                    </div>
                </a>

                <a href="{{ url_for('static', filename='/suporte/Bginfo.exe')}}">
                    <div class="tile verde">
                        BG info
                    </div>
                </a>


            </div>


    <footer>
        <br>
        <hr>
        <p>Atualização 19/04/2022<br>
            Prefeitura Municipal de Centenário do Sul<br>
            Setor de Informática
        <p>
    </footer>
</body>
</html>
