<div class="">
    <h3 class="pesquisa">
        ÁUDIO
    </h3>
    <div class="d-flex gap-2 flex-wrap">
        <a href="{% url 'hino_nacional' %}" class="pesquisa btn btn-info">
            Hino Nacional
            <span class="position-absolute invisible">audio musica</span>
        </a>
        <a href="{% url 'hino_estadual' %}" class="pesquisa btn btn-info">
            Hino Estadual
            <span class="position-absolute invisible">audio musica</span>
        </a>
        <a href="{% url 'hino_municipal' %}" class="pesquisa btn btn-info">
            Hino Municipal
            <span class="position-absolute invisible">audio musica</span>
        </a>
        <a href="{% url 'hino_independencia' %}" class="pesquisa btn btn-info">
            Hino da Independência
            <span class="position-absolute invisible">audio musica</span>
        </a>
    </div>
</div>