<div class="">
    <h3 class="pesquisa">
        ÁUDIO
    </h3>
    <a href="{% url 'hino_nacional' %}" class="pesquisa btn btn-info m-1">
        Hino Nacional
        <span class="position-absolute invisible">audio musica</span>
    </a>
    <a href="{% url 'hino_estadual' %}" class="pesquisa btn btn-info m-1">
        Hino Estadual
        <span class="position-absolute invisible">audio musica</span>
    </a>
    <a href="{% url 'hino_municipal' %}" class="pesquisa btn btn-info m-1">
        Hino Municipal
        <span class="position-absolute invisible">audio musica</span>
    </a>
</div>