{% extends 'base.html' %}

{% load static %}


{% block pesquisa %}
{% endblock pesquisa %}

{% block pagina %}

<h2 class="mt-3 mb-5">
    <i class="bi bi-bank"></i>
    AGENDA EXTERNA COMUNITARIA
</h2>
<hr class="pesquisa mt-5">

<div>
    <a class="btn btn-primary" href='{% url "Agenda_Externa_added" %}' role="button">Adicionar Número</a>

    <p class="text-danger">
        - Exclusões devem ser solicitadas ao setor de informática.
    </p>
<div>


<div class="container">
    <div class="container">
    <form method="get">
        <div class="row">
            <div class="container mb-5 mt-2 px-5">
                <!--- <label for="busca" class="form-label">Pesquisar:</label> --->
                <div class="d-flex align-items-end" id="busca">
                    <input type="text" name="q" value="{{ request.GET.q }}" placeholder="Pesquisa por Nome"
                        class="form-control">
                    <button type="submit" title="Pesquisar Registros" class="btn corPrimaria ms-1">
                        <i class="bi bi-search" id="lupacep"></i>
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>


    <div class="table-responsive">
        <table class="table table-sm table-hover mt-3">

            <thead>
                <tr>
                    <th scope="col" rowspan="2">Nome:</th>
                    <th scope="col" class="">Ramal: (Se Houver)</th>
                    <th scope="col" class="">Número Externo:</th>
                </tr>
            </thead>

            <tbody class="table-group-divider">
                {% for item in object_list %}
                <tr>
                    <td class="text-capitalize">
                        {{ item.destino }}
                    </td>

                    <td class="">
                        {% if item.ramal %}
                            {{ item.ramal }}
                        {% else %}
                            <i class="bi bi-hash"></i>
                        {% endif %}
                    </td>

                    <td class="">
                        {% if item.numero_externo %}
                            {{ item.numero_externo }}
                        {% else %}
                            <i class="bi bi-hash"></i>
                        {% endif %}
                    </td>



                </tr>
                {% empty %}
                    <tr>
                        <td colspan="5" class="text-center">
                            <i class="bi bi-exclamation-lg"></i>
                            Não existem Cadastros
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>


{% include "paginacao.html" %}


{% endblock pagina %}