{% extends 'base.html' %}

{% load static %}

{% block titulo %}Calendário{% endblock %}

{% block pagina %}

<div class="container">
  <h2>Calendário de Agendamentos</h2>
  
  <div class="container py-5">
    <div id="calendar"></div>
  </div>
</div>


<script src="{% static 'calendar/index.global.min.js' %}"></script>
<script src="{% static 'calendar/core/locales-all.global.js' %}"></script>
<script src="{% static 'calendar/bootstrap5/index.global.min.js' %}"></script>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    const calendarEl = document.getElementById('calendar');

    const calendar = new FullCalendar.Calendar(calendarEl, {
      initialView: 'dayGridMonth',
      locale: '{{ LANGUAGE_CODE }}',

      themeSystem: 'bootstrap5',

      navLinks: true,
      selectable: true,
      // selectMirror: true,

      headerToolbar: {
        left: 'prev,next today',
        center: 'title',
        right: 'dayGridMonth,timeGridWeek,list'
      },
      events: "{% url 'eventos_consulta_json' %}"
    });

    calendar.render();
  });
</script>

<style>
  .fc-day-today {
    border: 2px solid #0d6efd !important;
    border-radius: 50% !important;
  }
</style>

{% endblock %}
